[2018-09-09 15:31] #1189 closed

[2018-09-10 22:43] navneetgarg123 opened #1190 "Documentation site has expired"
The docs site currently says the “domain name has expired on 2019-12-16 08:51:55”

Is this project/site maintained anymore?

[2018-09-10 23:49] keithamus commented on #1190
Hey @navneetgarg123 thanks for the issue.

This looks to be a dupe of https://github.com/chaijs/chaijs.github.io/issues/175

I don't know how you're getting that error. By my calculations it is not `2019-12-16` (unless my time machine didn't take me back far enough, but I make it `2018-09-11`). The domain is still under our control for at least another year.

My guess is whatever internet connecti

[2018-09-10 23:49] #1190 closed

[2018-09-11 13:04] cpmangukiya opened #1191 "Issue while comparing string value made concatenating other strings and another string value prepared using buffer"
I would like to raise an issue that I am facing since last few months. While working on Node.js I have defined many test cases as below code snippet. While most of them works and getting passed with proper data, it will fail for some of the cases even though there is no change of even single space in two string values to getting compared.

This issue will not come in all the systems. For example i

[2018-09-11 13:15] croraf opened #1192 ".to.deep.include does not work as expected"
I checked this issue but it is not the same: https://github.com/chaijs/chai/issues/1177.

I have the following expect:
`expect({a: 5, b: {c: 1}}).to.deep.include({b: {c: 1}});`

This should pass without assertion error, but it obviously compares by reference and not deeply and assertion fails.

chai version: 3.5.0

[2018-09-11 16:10] croraf commented on #1192
I upgraded chai to the version 4.1.2 and it seems it is now working as expected. If someone can confirm this has been fixed in between 3.5.0 and 4.1.2

[2018-09-11 16:15] meeber commented on #1192
Confirmed. `.deep.include` wasn't added until Chai v4.

[2018-09-11 16:15] #1192 closed

[2018-09-11 16:17] meeber commented on #1191
@cpmangukiya Just a quick thought: Is there any chance this has to do with the difference between Windows and Unix line endings?

[2018-09-12 10:40] cpmangukiya commented on #1191
@meeber , Not sure but yeah it could be. Is there anyway to check and debug if this is the case ?

[2018-09-12 11:04] cpmangukiya commented on #1191
Update on the case,

Used,
var utils = require('mocha/lib/utils');
var stringify = utils.stringify;
expect(stringify(compareToHtml)).to.equal(stringify(htmlText)); // Updated

I tried this case using stringify function and then I am seeing the difference. As @meeber  said something with Windows and Unix line ending. Although this does not happen with many other lines. Only few among many will fail

[2018-09-12 11:20] msiebuhr opened #1193 "Chaijs.com is parked/squatted/not serving-the-expected-bits"
Chaijs.com, the home of this project, is serving some kind of parking-page with a few ads:

![screen shot 2018-09-12 at 13 17 35](https://user-images.githubusercontent.com/330611/45421741-50158900-b68e-11e8-96e7-39f94ee1ce47.png)

In particular, all documentation links are dead-ends.

[2018-09-12 11:29] keithamus commented on #1193
Hey @msiebuhr thanks for the issue

This seems to be a dupe of https://github.com/chaijs/chai/issues/1190 and https://github.com/chaijs/chaijs.github.io/issues/175. I'm really unsure of what is happening here, I'd like to find out if there is a comonality between you, @navneetgarg123 and @jbutz's internet connections that is causing this.

Here's what I get when I `dig chaijs.com`:

[code]

Could

[2018-09-12 11:54] meeber commented on #1193
@keithamus The chaijs website is working for me, and I get the same answer as you with nslookup and a normal dig, but I get a different answer with `+trace`:

[code]

[2018-09-12 12:16] meeber commented on #1193
I suspect the problem is with the `ns[1-4]is.alogicalparadox.com` name servers.

[2018-09-12 12:51] msiebuhr commented on #1193
Yup. Your DNS provider looks problematic:

Running `dig chaijs.com +trace` mostly gives this:

[code]

But every now and then, I get:
[code]

[2018-09-12 13:06] keithamus commented on #1193
Well, it seems as though @logicalparadox's `alogicalparadox.com.` domain - for which the nameservers are pointing to - has expired, and this is the problem.

[code]

This is quite problematic. I've tried emailing @logicalparadox so we can get the DNS shifted over, but the email bounced.

At this point I'm kind of unsure what to do...

[2018-09-12 13:19] jbutz commented on #1193
If you still need dig output, here is mine. The site is currently working for me.

[code]

[2018-09-12 14:49] navneetgarg123 commented on #1193
@keithamus
Confirmed at least on my home and cellular network I don’t have this issue.
It seems to happen only at the office, which is awesome.

[code]

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-09-12 15:06] keithamus commented on #1193
Sorry to everyone experiencing this. I'm not sure there is much we can do - sadly. I'll keep trying to get in contact with @logicalparadox to get the NS records changed so we don't lose the site. If anyone has any other ideas please share 😄

[2018-09-13 06:09] msiebuhr commented on #1193
You could look into hosting at https://js.org. The domain won't be far off `chai.js.org` vs. `chaijs.com` and it looks like someone is already taking care of infrastructure...

[2018-09-13 11:32] meeber commented on #1191
Kinda depends on your application's requirements. If your application is meant to be cross-platform, then in general I wouldn't suggest trying to alter your app's output to enforce a particular End-Of-Line (EOL) format. Instead, you could just normalize EOLs in the strings before comparing them in your tests. I haven't used it before, but it looks like [this package](https://www.npmjs.com/package/

[2018-09-14 03:13] no2chem opened #1195 "BigInts are not properly supported by assertions"
Although BigInts are a stage 3 proposal, they are supported in Node 10 and V8 6.3. One of the quirks of BigInt is that it's not JSON serializable. When attempting to compare two BigInts, chai uses the JSON, which produces the wrong result.

Here's a minimum example, which works on Node 10 and Chai 4.1.2
[code]

I think Chai should check if typeof returns 'bigint'
[code]
And use equality to make th

[2018-09-14 10:31] keithamus commented on #1195
Hey @no2chem thanks for the issue.

We'll definitely make sure to tackle bigints in the next version of chai! We've added this to our Roadmap https://github.com/chaijs/chai/projects/2! We'll be releasing chai 5 soon, but for now I'll close this issue because it is tracked on our roadmap.

[2018-09-14 10:31] #1195 closed

[2018-09-14 22:36] keithamus commented on #1193
I'll close this now. The DNS is under my control in my cloudflare account.

[2018-09-14 22:36] #1193 closed

[2018-09-17 09:22] c24w opened #1197 "chaijs.com assets are broken :("
For example:

[2018-09-17 09:34] vincentkwok commented on #1197
+1

[2018-09-17 10:31] lucasfcosta commented on #1197
@chaijs/chai shall we migrate our docs over to another place?

[2018-09-17 12:39] keithamus commented on #1197
Hey y'all! Thanks for raising this.

This is a dupe of https://github.com/chaijs/chaijs.github.io/pull/177 which is the PR that should solve this. I'll close this as we can track it in https://github.com/chaijs/chaijs.github.io/pull/177

[2018-09-17 12:39] #1197 closed

[2018-09-17 15:03] keithamus commented on #1197
FYI this should now be fixed

[2018-09-26 07:51] cpmangukiya commented on #1191
The eol package has worked in a specific way. Sharing the solution here.

One may need to write a case something like this to make it work.

const chai = require('chai');
const expect = chai.expect;
const fs = require('fs');
const eol = require('eol');
const jsFile = require('../../../lib/<some-file-path>');

[code]

Here I have used eol.lf function as below to update the resultTestFileName.html f

[2018-10-11 15:36] keithamus commented on #1082
That sucks @brutalcrozt. I definitely sent some over but it was too expensive to send tracked so maybe they just got lost in transit? I can send some more over if you'd like? I deleted all of the address data we gathered though, so you'd need to resend your address over to me (can email me at chai at keithcirkel dot co dot uk)

[2018-10-15 13:22] bharathmadishetti opened #1202 "How to keep soft assertions?"
Hi,

I am using Mocha/Chai combination to write scripts.

How can I keep multiple assertions in a single 'it' block so that failing of one assertion should not stop validating of remaining assertions?

In below code example, 2nd and 3rd assertions are not getting executed because first assertion is throwing an error. I want all assertions to be validated irrespective of whether an assertion is pas

[2018-10-15 16:47] keithamus commented on #1202
Hey @bharathmadishetti thanks for this issue!

The way Chai works is that we don't have a notion of "soft assertions". The assertion should either prove or disprove a thing, and that should fail the entire test (because whatever the description of "it" is, no longer holds true). I'm not suggesting you only use one assertion per it-block, but perhaps you could rewrite the it-block in a way where it

[2018-10-15 16:47] #1202 closed

[2018-10-18 17:30] GarrettGeorge opened #1205 "Expecting error to be thrown for async function does not catch error."
Chai version `^4.1.2`

**Example Code:**

[code]

**Expected Result**

_chai_ catches the error and test passes

**Real Result**

_chai_ does not catch the error and I get an error ` AssertionError: expected [Function] to throw an error`

[2018-10-18 17:47] GarrettGeorge commented on #1205
Fixed with `chai-as-promised`.

[2018-10-18 17:47] #1205 closed

[2018-10-28 17:34] hiredgunhouse opened #1206 "Make documentation for old versions available"
For a library like Chai I think it is very important to have the docs for old versions available online.
Having docs for the latest version only is problematic for people who are on projects using some older version because new APIs are not available to us and we can only learn that by trial and error.

[2018-10-29 22:22] keithamus commented on #1206
Hey @hiredgunhouse thanks for the issue.

I agree with this. It would indeed be great. Right now the docs are generated from the source code, you can see in the https://github.com/chaijs/chaijs.github.io/ repo there is a Makefile which has an `api-docs` task which does this: https://github.com/chaijs/chaijs.github.io/blob/master/Makefile#L16.

It would take some work but I think it is do-able to h

[2018-10-30 07:33] yuki-93 commented on #1206
Maybe it would be nice to show for each api assertion, from which minimum version it is available in chai. Just my two cents, if this might be easier to implement.

[2018-10-30 12:51] keithamus commented on #1206
Supporting a "version introduced at" piece of meta is also possible - but we could add this as an annotation to the doc blocks in the code comments. It'd be less difficult to implement overall but would probably be more work going through every method in the codebase and figuring out when it was available.

There's one subtle problem with just documenting when a method was introduced: often method

[2018-10-31 13:38] keithamus commented on #332
Sure @ronjouch! Specifically https://github.com/chaijs/chai/projects/2#card-10444381 and https://github.com/chaijs/chai/projects/2#card-10444260 capture the desired functionality. This is a matcher API which would allow you to pass expectations as properties in a deep-eql assertion, e.g.

[code]

or in the case of the OPs example for a users table you could do something like:

[code]

If you're lo

[2018-10-31 15:55] hiredgunhouse commented on #1206
Hey @keithamus, sounds good, I'll give this a shot and try to make a PR.
I'll start with generating docs for multiple versions and then think about the tracking of when specific API has been introduced, which, as you pointed out, is a bit more complex subject.
BTW. Please have some patience as for the next 2 weeks I'll be busy with some other work.

[2018-11-01 12:14] keithamus commented on #1206
@hiredgunhouse thanks for picking this up! Let me know if you need any assistance with this. I'll try my best to offer advice where I can 😄

[2018-11-12 09:35] lubodrinka opened #1207 "assert.exists is not a function"
I tried it on a functional model and change the function exists not know
dependencies": {
    "express": "^4.14.0",
    "cors": "^2.8.1",
    "body-parser": "^1.15.2",
    "chai": "^3.5.0",
    "mongodb": "^3.1.3",
    "chai-http": "^3.0.0",
    "mocha": "^3.2.0",
    "zombie": "^5.0.5",
    "helmet": "^3.1.0",
    "mongoose": "^5.2.8",
    "x-xss-protection": "^1.1.0"
  },

  test('Every field fi

[2018-11-12 10:53] keithamus commented on #1207
Hey @lubodrinka thanks for this issue!

Check to make sure you're doing `const {assert} = require('chai')`. node.js comes with an `assert` package by default, but it does not include all of the chai funtionality. You need to manually include chai's assert like above.

Thank you for your time in reporting this. I'm going to close this, because it is not a bug within chai. If you do find any bugs pl

[2018-11-12 10:53] #1207 closed

[2018-11-12 11:57] lubodrinka commented on #1207
this is worse than previous
var chaiHttp = require('chai-http');
var chai = require('chai');
const {assert} = require('chai')
var server = require('../server');
var idtest;
var title='Title1'+ new Date()
chai.use(chaiHttp);

[2018-11-12 12:31] lubodrinka commented on #1207
So, it,s bug: https://www.chaijs.com/api/assert/ , I even dont know is actual version.
Is there problem to each function write (from version 4.0)?

[2018-11-12 12:32] keithamus commented on #1207
Please see https://github.com/chaijs/chaijs.github.io/issues/178 which is an issue that plans to reflect version numbers for this stuff.

[2018-11-12 12:35] lubodrinka commented on #1207
Hey this os nonsense, nobody look in there, nobody.  rewrite the manual.

[2018-11-12 12:43] meeber commented on #1207
@lubodrinka Chai is an open source project maintained by unpaid volunteers, that relies on the contributions of other unpaid volunteers. Currently the documentation only reflects the latest version of Chai (v4.2.0), but as @keithamus mentioned, a volunteer in #178 has offered to improve the website so that the docs for older versions of Chai are available as well.

Do you have a requirement to use

[2018-11-12 12:50] lubodrinka commented on #1207
Oh god you are lazy man.
Let assume use 4.0. and you don't have somewhere that must be with new declarations in brackets.
So if somebody try that oh that not working so rather use 3.5 version.
there is tons of  prefabricated solutions or done with 3.5  and someone want add another function ..
I don't even believe I must tell you.

[2018-11-13 03:04] bluelovers opened #1208 "hope can have official typescript declaration"
hope can have official typescript declaration

current @types/chai

can't use for create plugin

[2018-11-14 13:20] c-bandy opened #1210 "Warn when chaining negation expression"
This issue extends the concerns of #261:

[code]

The resolution was to split up your chain into multiple expect statements, which seems fine - but this unexpected behavior should be communicated to the user more clearly.

~It should be pretty easy to implement -~ if a negation is followed by two or more assertions, print a warning in the output. This lets the user know that they probably want to

[2018-11-14 13:53] meeber commented on #1210
Currently assertions don't have knowledge of how many assertions preceded it in the chain. My first impression is that it'll be tricky to implement. Requirements would probably need to be:

1. The functionality exists at a low enough layer such that existing assertions (both builtin and 3rd party plugins) would automatically inherit the functionality without having to be individually updated.
2. T

[2018-11-20 15:11] esalling23 commented on #81
Though this is closed, this link to the chai documentation goes over creating new assertions that can have custom messages *and* overwrite the `AssertionError` messages: https://www.chaijs.com/guide/plugins/#composing-an-assertion

[2018-11-26 08:57] maxnordlund commented on #662
This bit me today, and I see that 4.x has been released without loupe. So the question is, should this be done here in the meantime or is loupe ready for inclusion?

[2018-11-26 15:39] mrsufgi commented on #644
@jpbochi works great, finally, I could replace my deep.equal with your plugin and assert objects that contain functions! :D

[2018-11-27 07:05] maxnordlund commented on #662
Aha, I didn't see that.

Sweet, I'm looking forward to it. Though for native WeakMap and WeakSet, only the native inspect can look inside them, which may not be a problem but still, worth mentioning.

[2018-11-27 09:56] keithamus commented on #662
Loupe will be at-least as good as Node's `console.log`, but yes `WeakMap` and `WeakSet` are unobservable and so will display as something like `WeakSet{...}`. `Promise` can be observed using some node plumbing but in browsers it cannot, and as such in browsers we'll have something like `Promise{...}`

[2018-11-28 23:18] pdesjardins90 opened #1211 "[Feature Request] Convert to ES Modules"
With all major browsers now supporting ES modules and node support on its way, I think it would be a great time to migrate this popular lib and help the community move forward.

To be clear, the goal would be to be able to do:

In node:

[code]

In browsers:
[code]

[2018-11-29 10:44] keithamus commented on #1210
Hey @c-bandy thanks for the issue.

As @meeber alludes to - this problem won't be carried over in the chai 5 rewrite. Instead, `and` does _not_ carry over any of the keywords associated with the previous assertion (because we have had many issues about how unintuitive this is). Additionally, every assertion will have the full knowledge of the whole expression chain and so we can (and in fact Chai

[2018-11-29 10:44] #1210 closed

[2018-11-29 10:49] keithamus commented on #1211
Thanks for your work on this @pdesjardins90! Your changes look awesome!

We've actually got a new version of chai (version 5) in the works right now. It's a complete rewrite from the ground up and we make extrensive use of ES6 modules.

You can follow the progress of Chai 5 on the Roadmap https://github.com/chaijs/chai/projects/2! We'll be releasing chai 5 soon.

I understand you put a lot of work

[2018-11-29 10:49] #1211 closed

[2018-11-29 14:23] shapovalvladislav opened #1213 "Something strange is going with chai.use()"
Hi
I've got two files:
test1.js
'use strict';
const chai = require('chai');
chai.use(require('chai-things'));

test2.js
'use strict';

const chai = require('chai'),
    expect = chai.expect;
chai.use(require('chai-like'));
chai.use(require('chai-things'));

describe('Test', function() {
    it('test', function() {
        expect([{test: 'test'}]).to.be.an('array')
            .that.contains.someth

[2018-11-29 14:31] shapovalvladislav commented on #1213
Looks like I've found the root of the issue. Resolved

[2018-11-29 14:31] #1213 closed

[2018-12-03 21:10] anvlkv commented on #948
Hi, I'm using

       "chai": "^4.2.0",
       "mocha": "^5.2.0",

When I do

    blocks.forEach((b, i) => {
                Object.keys(b).forEach(prop => {
                    expect(blocks[i][prop]).to.deep.equal(exampleBlockOutput[i][prop]);
                });
            });

test passes

but when I do

    expect(blocks).to.deep.equal(exampleBlockOutput);

it fails with

    AssertionError:

[2018-12-10 09:50] aihornmac commented on #223
@csnover try `1 / +0` and `1 / -0`

[2018-12-14 01:13] aguegu commented on #415
[code]

So the way without `chai-as-promised` looks like this right now? Wish it could be more short.

[2018-12-26 03:35] Noitidart commented on #281
Is it possible to make `.property` not change the target subject?

[2018-12-28 01:14] filipenatanael opened #1218 "Expect doesn't work with style"
Hey there!

I'm getting the below error message when trying to run the tests.

`expect(wrapper).to.have.style('background-color').equal('#ccc');`

**Returns:**
 _TypeError: (0 , _chai.expect)(...).to.have.style is not a function"_

But when I write the code as below, everything works correctly.

`expect(wrapper.props().style.backgroundColor).to.be.equal('#ccc');`

But this is correct? is there ano

[2018-12-28 23:12] meeber commented on #1218
Hi @filipenatanael. The `style` assertion isn't built into Chai core. Looks like the [chai-enzyme](https://github.com/producthunt/chai-enzyme) plugin might provide what you're looking for.

[2018-12-28 23:12] #1218 closed

[2018-12-29 00:09] dnalborczyk opened #1219 "expect to.be not throwing"
Is this intended behavior, or is this a bug?

chai `v4.2`, although tried `v3.x` and `v2.x` as well.

[code]

[2018-12-29 00:35] meeber commented on #1219
If it helps, the contents of my `package.json` are:

[code]

The test file is `test/index.js`.

And I ran the tests via `npm test`.

[2018-12-29 00:35] dnalborczyk commented on #1219
found the culprit:

[code]

just contributing to another open source project and I haven't used chai myself before.

thanks again @meeber for looking into this.

[2018-12-29 00:38] dnalborczyk commented on #1219
btw, one of the reasons I didn't see this is because it modified the _original_ chai module in another test file, and therefor was loaded that way in every test [following the modification I suppose].

[2018-12-29 00:39] #1219 closed

[2018-12-29 00:39] meeber commented on #1219
Makes sense. If I recall correctly, the `dirty-chai` package converts all property-based assertions (e.g., `to.be.true`) into method-based assertions (e.g., `to.be.true()`).

[2018-12-29 00:44] dnalborczyk commented on #1219
aaaah, I see. you're right! thank you!

[2018-12-30 09:02] ansermino opened #1221 "`expect.to.throw` implementation details"
I'm somewhat confused by the implementation of `expect.to.throw`. I'm opening this out of curiosity so please bare with :smile_cat:

One of the examples in the docs is as follows:
[code]

In what case is this useful? When can we ever expect to instantiate and pass in the error instance that is thrown inside a function?

I was ultimately looking to assert the parameters of custom error messages. Fo

[2018-12-30 09:06] ansermino commented on #1221
Looks like #1220 includes the removal/change of this behavior :smile: Still interested in whether there is a better way to achieve this soft-equality, perhaps I can be an advocate for natively supporting this sort of comparision....

[2018-12-30 14:44] meeber commented on #1221
@ansermino Right, it's my opinion that the behavior described [here](https://github.com/chaijs/chai/blob/929c109e1ab20a3de89ff0e1045f77d9f84e9987/lib/chai/core/assertions.js#L2468-L2475) is seldom used, and that most users would benefit from having a deep equality check be performed instead, which as you noted is one of the changes I'm aiming for in #1220. I can't speculate on the motivation for t

[2018-12-31 06:44] ansermino commented on #1221
Thanks for the detailed response @meeber! Will stay tuned for the upcoming changes :+1:

[2018-12-31 06:44] #1221 closed

[2019-01-03 22:56] snoblenet commented on #415
[code]

[2019-01-04 10:22] AbdelrahmanHafez commented on #415
@snoblenet You probably meant `.catch(...)` instead of `.then(...)` in https://github.com/chaijs/chai/issues/415#issuecomment-451304454.

[2019-01-05 05:59] snoblenet commented on #415
No, `then` works just fine.

The inverse, when you are expecting a result not an error, is:

[code]

[2019-01-07 04:34] ZehraHN commented on #586
it('should equal to default count 4', function (done, fail) {
            Promise.all([
                utility.isVisible(elements.cardList, 10000).then(function (result) {
                    expect(result, 'default list is visible').to.be.true;
                }),
                $$(elements.cardListItems).count().then(function (count) {
                    expect(count, "Defaul list should be 4

[2019-01-07 12:28] aiyk opened #1222 "calling a double arrow function not acting as expected"
I have this function in my vue store module which takes in state and criteria arguments and returns a value based on the feed in arguments
[code]

in my test file, i have referenced this function and passed its return value to a constant as shown below

`const result = filteredCollections(state, criteria);`

instead of getting back the return value of my function in the result constant, i get back

[2019-01-07 14:20] keithamus commented on #1222
Hey @aiyk thanks for the issue!

The issue here is that the arrow function style you're using (which to give it a term would be something like "currying of unary functions") does not facilitate calling with multiple arguments, like you do with `const result`.

See the following:
[code]

Calling `filteredCollections` one returns a function, which takes one argument. Calling it twice returns the ret

[2019-01-07 14:20] #1222 closed

[2019-01-07 16:03] aiyk commented on #1222
thanks so much @keithamus , this was quite insightful. all i needed do was to call the currying function like so `const result = filteredCollections(state)(criteria)` and me test started passing. thanks again

[2019-01-07 16:16] keithamus commented on #1222
Any time @aiyk! Happy coding 😄

[2019-01-09 15:55] kwirke opened #1223 "Plugin autodetection not working"
Hi guys,

I released a chai plugin some days ago (https://www.npmjs.com/package/maybe-chai) and I would love it to appear on the official list (https://www.chaijs.com/plugins/).

According to the docs it's enough to set the proper keywords in package.json, however this does not seem to be working for me. Am I missing something or did something wrong?

Thanks for your support and your amazing libra

[2019-01-10 10:31] keithamus commented on #1223
Hey @kwirke thanks for letting us know about this!

There was an error in the nightly job, which has now been fixed. Your plugin is now on the website! https://www.chaijs.com/plugins/maybe-chai/

Thanks for writing a cool plugin!

[2019-01-10 10:31] #1223 closed

[2019-01-15 08:55] blake-regalia opened #1225 "expect(...).to.have.property(...).that.exists"
`expect(...).to.have.property(...).that.exists`;

Simply adding **exists** as an alias for `exist` would support such idiomatic cases. If there is support for this I can create a PR.

[2019-01-16 09:51] pbelamkar opened #1226 "How to check type of the array in Chai"
E.g. Json : {
    "statusCode": "SCS",
    "statusMessage": "Success",
    "reply": [
        {
            "indexId": 657,
            "sectionData": "Text",
            "isHide": true,
            "defaultData": "Not Item"
        },
              ]
}

I want to validate type of the "reply", now type of the reply is array. So how to assert in Chai.
I am using this "response.reply.should.be.type(

[2019-01-16 12:19] meeber commented on #1225
Adding `.exists` sounds fine to me.

[2019-01-16 12:33] pbelamkar commented on #1226
I am getting following this error when i used as  response.reply.should.be.an('array');
Uncaught TypeError: response.body.reply.should.be.an is not a function

[2019-01-16 12:38] meeber commented on #1226
The code I pasted above works for me in an empty project. Can you create a reproducible example and link to it on GitHub so I can run the code on my system and get the same error?

[2019-01-16 13:02] pbelamkar commented on #1226
If you use this code then getting same error.

let chai = require('chai');
const should = require('should');
let fs = require('fs');
rejectUnauthorized: false;
strictSSL: false;
process.env.NODE_TLS_REJECT_UNAUTHORIZED = "0";
let chaiHttp = require('chai-http');
let request = require('request');

describe("tests", function () {
  it("test1", function () {
    const response = {
      "statusCode":

[2019-01-16 13:20] meeber commented on #1226
The problem is that when you run `const should = require('should')`, you're actually importing a completely different non-Chai assertion library called [Should.js](https://shouldjs.github.io/) (which does have a `.type` assertion instead of `.an`). You should use either Chai.js or Should.js, not mix them together. If you decide to use Chai.js, then see [this page](https://www.chaijs.com/guide/styl

[2019-01-16 13:30] pbelamkar commented on #1226
Yes i want to use Should.js could you please help me how to contact their team.

Thanks.

[2019-01-16 13:31] meeber commented on #1226
https://github.com/tj/should.js/

[2019-01-16 13:31] #1226 closed

[2019-01-18 09:19] henhal commented on #41
For those of using WebStorm or other IntelliJ based editors, what I do is to click on the warning's "inspection profile settings" (for JavaScript validity issues -> Expression statement which is not assignment or call") and uncheck it as a warning for the scope "Tests", but keep it as "Warning" for "Everywhere else".

[2019-01-21 16:33] bajtos commented on #41
After using chai with [dirty-chai](https://www.npmjs.com/package/dirty-chai) plugin for some time, I eventually decided to switch to [should.js](http://shouldjs.github.io) and have never looked back ever since. 👋

[2019-01-22 07:58] pcorpet opened #1228 "Assertion error does not state problematic parts for Maps"
[code]
As you can see it is not clear why it fails from the error message.

[2019-01-22 12:02] keithamus commented on #1228
Thanks for this @pcorpet but we're very close to releasing a new version of the inspection engine: https://github.com/chaijs/loupe/pull/14.

Once we get `loupe@2` out we'll be updating Chai to use it, and it will replace all `inspect` code.

We really appreciate the work you've done here! I hope in closing this PR we don't dissuade you from making further contributions!

[2019-01-22 12:19] pcorpet commented on #1228
Hi @keithamus thanks for the update. As the bug is still there, can you keep the issue open, and close the PR instead?

[2019-01-22 13:20] keithamus commented on #1228
Oops I thought I did that, sorry!

[2019-01-28 21:00] vedtam opened #1231 "[!] Error: 'assert' is not exported by node_modules/chai/index.js"
Hi,

When running my test trough rollup to prepare it for karma and the browser I get:

`Error: 'assert' is not exported by node_modules/chai/index.js`

I use the import statement from the docs:

`import { assert } from 'chai';`

I saw that the module uses common js exports, so I'm confused why the above import statement exists at all?

test:

[code]
rollup config:

[code]

I would really apprecia

[2019-01-30 00:24] givanse commented on #948
I'm seeing the same behavior with chai 4.2.0 The same tests to work with chai 3.3.0

[2019-02-01 20:12] daKmoR opened #1232 "es module version"
As the browser world finally is united under the "es module" flag it would be nice if chai would offer an es module version.

this would enable test files like this "natively" in the browser
[code]

For direct use in script tags we could still have an umd module. (could be use on node as well?)
Webpack and other bundling tools usually understand es modules directly.

There are 2 possible ways:
- p

[2019-02-03 01:47] meeber commented on #1232
That sounds nice. I haven't had much time lately to stay current on JavaScript and ES6 modules; can this be implemented without breaking changes? I'd advise waiting for feedback from @keithamus before spending any time on this; he likely has more current knowledge than I regarding ES6, and might already have something in mind.

[2019-02-03 01:51] meeber commented on #1231
I suspect that was written 2-3 years ago and had some applicability to whatever transpiling was popular at the time. As I mentioned in #1232, I've fallen behind a bit on recent JavaScript and ES6 module changes. We definitely don't the docs to be confusing or outright wrong; @keithamus may have better insight at this point.

[2019-02-03 07:46] vedtam commented on #1231
Thanks @meeber for the details, I'm wondering why nobody complained so far? 😅

[2019-02-03 14:22] #1231 closed, assigned to nobody

[2019-02-03 18:35] daKmoR commented on #1232
@keithamus that is awesome to hear 🤗
do you have a very rough estimated timeframe - e.g. ~1, 3, 6, or 12+ months?

also, I would be interested if the work/code for chai5 is somewhere accessible? maybe a branch or so? if it's remotely useable I would try give it a test run and/or help make it happen 🤗

[2019-02-03 21:04] keithamus commented on #1232
@daKmoR I wouldn't like to give timelines about a release - mostly because its a good way to break a promise 😉

Having said that you can expect to see progress happening in this repo very soon. We have a private repo which is shaping up to a full implementation and I'll be transferring it piecemeal here very soon

[2019-02-03 23:31] daKmoR commented on #1232
not even a >12 month or less? 🤔 😆

I'm really looking forward to this :) if you remember pls ping me once the first code is available 🤗

[2019-02-05 16:41] Agadoodoo opened #1233 "Chai Logo Commercial use"
Hi - Is Chai logo under the MIT license? >>> looking for commercial use ?

[2019-02-05 17:19] keithamus commented on #1233
Please could you explain the reason for commercial use?

AFAIK the chai logo has no permissive license and is only Copyright. The font used is Apache 2 though.

[2019-02-05 17:22] AgaAgnieszkaBorcz commented on #1233
My partner and I are in the initial stages of setting up an e-commerce business selling high-quality stickers of logos of popular software and libraries. We would mainly be marketing towards software developers, as there are many who enjoy placing stickers of their favourite tech on their laptops for display.

We would love to be able to include your logo as part of our inventory but aren’t sure o

[2019-02-06 20:21] MeenalYengul opened #1234 "unit test for validation with ajv"
I have a data in json format and related schema. I want to try out different combination of errors and write unit test for them. My question is while comparing result I mean in assert sentence how should I check whether it is showing correct error or not?.
I am using chai.
Question 2. If user does not pass any value for any field and after submitting in the payload that specific field name will be

[2019-02-09 11:03] vedtam commented on #1231
@keithamus thanks for the hint, it work using the mentioned option, however I get circular dependencies warning in rollup:

`Circular dependency: node_modules/chai/lib/chai.js -> node_modules/chai/lib/chai/utils/index.js -> node_modules/chai/lib/chai/utils/addProperty.js -> node_modules/chai/lib/chai.js`

While waiting for chai5 will use `karma-chai`.
Thanks!

[2019-02-10 15:44] ruslanguns commented on #41
For vscoders you can supress the warnings hacking the settings.json by adding an entry for jshint.options:

[code]

[2019-02-11 17:43] Noitidart opened #1235 "Cannot do `deep.nested` on an array, have to wrap it with an object"
This was a stackoverflow question - https://stackoverflow.com/q/53906051/1828637

He has a `const payload = [{ id: 0 },{ id: 1 }]` and wants to do the following:

    expect(payload).to.nested.include({
      '[0].id': 0,
      '[1].id': 1
    });

But it does not work. He has to wrap it to get this to work:

    const wrappedPayload = { a: payload };
    expect(wrappedPayload).to.nested.include({

[2019-02-13 02:46] greenkeeper[bot] opened #1236 "An in-range update of codecov is breaking the build 🚨"
## The devDependency [codecov](https://github.com/codecov/codecov-node) was updated from `3.1.0` to `3.2.0`.

🚨 [View failing branch](https://github.com/chaijs/chai/compare/master...chaijs:greenkeeper%2Fcodecov-3.2.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

codecov is a devDependency of this project. It **might no

[2019-02-14 23:59] meeber commented on #1235
@Noitidart The `.include` assertion is a bit frustrating because its behavior changes based on the target's type.

[In the case of an array](https://github.com/chaijs/chai/blob/1cededa167ebf1f433d82813abd6db4d774aff71/lib/chai/core/assertions.js#L324-L327) (as in your first example), `.include` is simply checking if the supplied value (`{ '[0].id': 0, '[1].id': 1}`) is a member of the target array

[2019-02-14 23:59] #1235 closed

[2019-02-15 00:01] meeber commented on #1234
Hi @MeenalYengul. For this type of question, I'd recommend [Stack Overflow](https://stackoverflow.com/). This issue tracker is typically only monitored for bug reports and fixes. Thanks!

[2019-02-15 00:01] #1234 closed

[2019-02-15 00:05] meeber commented on #1233
That's a good question. I don't even know who created the logo or holds the copyright. Personally I have no issue with this type of usage, but I don't think it's up to me. @keithamus?

[2019-02-15 00:05] meeber commented on #1236
Good bot!

[2019-02-15 00:05] #1236 closed

[2019-02-15 06:39] Noitidart commented on #1235
Thanks @meeber for that indepth reply. With members though I can't ensure order when skipping certain entries though can I?

Like if I had:
[code]

[2019-02-15 09:19] AgaAgnieszkaBorcz commented on #1233
We would love to be able to include Chai logo as part of our inventory but
aren’t sure of the restrictions regarding its use for commercial purposes,
so we would like to find out what Chai logo policy is regarding this and if
this would be a possibility?

We do not plan to modify or alter the logo in any way or claim that it is
ours. To get a better idea of how we plan to use the logo, please see

[2019-02-15 13:12] keithamus commented on #1233
My _personal_ feelings are that I indeed take umbrage with this type of use. I consider this to be direct profiteering from the work of the maintainers. However my personal feelings on this matter are mostly irrelevant.

The source code is MIT licensed, the logo itself as far as I know would by Copyright to @logicalparadox unless it is to be considered under the same MIT license. I've updated the

[2019-02-17 16:41] Noitidart commented on #1235
I refine the example the here to show what I'm trying to do:

This was a stackoverflow question - https://stackoverflow.com/q/53906051/1828637

He has a `const payload = [{ id: 0, value: 'foo' }, { id: 1, value: 'bar' }, { id: 2, value: 'qux' }]` and wants to do the following:

    expect(payload).to.nested.include({
      '[0].id': 0,
      '[2].value': 'qux'
    });

But it does not work. He has

[2019-02-17 17:20] meeber commented on #1235
In terms of current functionality, I don't think there's a silver bullet. Some options:

[code]

In terms of possible changes to functionality to support this:

1. Update the `.include` assertion to support `.nested` with array targets
2. Update the `.members` assertion to support `.nested`

[2019-02-22 13:42] jolanda1 opened #1238 "License fees"
Hi,

I was wondering if there are any license fees charged? And where can I find information on this?

Thanks!

Jolanda

[2019-02-22 13:43] jolanda1 opened #1239 "Security"
Hi,

Is there any information on security? e.g. what are the security risks involved, how are these mitigated?

Thanks!

Jolanda

[2019-02-22 14:24] daKmoR commented on #1232
pretty please :hugs: anything we can help with?

[2019-02-22 16:51] keithamus commented on #1238
Hey @jolanda1 thanks for the issue.

There are no license fees to use any of this code. It is under MIT license so you are free to copy this code and use it anywhere - provided you keep a copy of the license with the code.

[2019-02-22 16:51] #1238 closed

[2019-03-01 18:41] Noitidart commented on #1235
Thanks very very much for sharing this info @meeber !

[2019-03-12 11:11] simon-tannai opened #1241 "Obj is oneOf array of objects"
Hi ! :)

I would to test if an object if one of entries from an array containing objects.
It's something like: `expect({}).to.deep.oneOf([{}, {}, {}])`

But I got this error: `AssertionError: expected { Object (type, sender, ...) } to be one of [ Array(3) ]`

With more details, this is the test with the object and the array:

[code]

How can I do this kind of test ?

[2019-03-15 16:16] Celthi opened #1243 "chaiAsPromised seems cannot work on should.not.exist(null);"
[code]

The above code will fail on the should.not.exist(null); Is this by design or a bug?

[2019-03-17 21:46] vdanniel commented on #524
Hi Keithamus,

it('should throw when given no arguments', function () {
  expect(myFunction).to.throw(Error);
});

is not working.
I am having a similar issue.

expect(await eventProcessor.processEvent(null)).to.throw(Error);

does not pass. but it should as processEvent will throw an error if argument is null.

[2019-03-20 16:28] osmolyar opened #1244 "expect(x).to.include.oneOf["a","b"] behaves as if it's expect(x).to.be.oneOf["a","b"]"

[2019-03-21 14:26] Celthi opened #1245 "There seems only one expect.to.eventually.have.property can exist in the test case."
it('can process the JSON payload from the provider', () => {
        const response = fetchProviderData(submissionDate)

        return expect(response).to.eventually.have.property('count', 0.1)
The code(in Consumer.spec.js and ConsumerPact.spec.js) does not verify the 'data' property.
Is it left out for simplicity? Or is it because we can only have one return expect...?

If I change the code to

[2019-03-27 09:22] martin-g commented on #94
It seems this feature was not actually implemented. At least I didn't find anything neither in the documentation nor in the tests showing how to do it.
In my application we use the `assert` interface, so here is how I implemented it:

in `src/test/util/chai-extensions.js`:
[code]

In the tests:
[code]

[2019-04-03 08:46] galogen777 commented on #1158
I use
`res.body.should.be.json;`
to check wether the response is a json

[2019-04-09 16:56] JustinBeckwith opened #1246 "Promise based assertions without a plugin"
Greetings folks!  We've started to pick up chai in a many of our npm modules, and so far we're loving it.  Coming from [assert](https://nodejs.org/api/assert.html) in node core, one of the assertions I find myself really missing is `assert.rejects`.   I'd love to see this added (and I'm happy to submit a PR) for a few reasons:

- Parity with the `assert` module in nodejs core
- `async/await` is ab

[2019-04-10 09:23] keithamus commented on #1246
Hey @JustinBeckwith thanks for the issue!

We have this planned for Chai 5. The current architecture in Chai 5 is that every error object is a "thennable" (it has a `then` method) and calling it will turn the assertion into a Promise. In addition we'll have some assertions for Promises such as `rejects` and `fulfills`. I've added a card to our Roadmap https://github.com/chaijs/chai/projects/2 for

[2019-04-10 09:23] #1246 closed

[2019-04-10 13:29] sevillaarvin commented on #94
Hi, jest has an [expect.assertions method that verifies that a certain number of assertions are called during a test](https://jestjs.io/docs/en/expect#expectassertionsnumber). I was hoping there was a chai equivalent to this. I've been searching in google and couldn't find anything so far.

[2019-04-10 14:21] martin-g commented on #94
In the meantime I've improved a bit my extension (in TypeScript):

[code]

and the usage:

[code]

[2019-04-11 09:47] klemens-u opened #1247 "eql / deep.equal returns unhelpful output"
I'm using chai with postman.
I compare two objects with the eql / deep.equal assertion, and they are not equal.
At the momen the return is something like:
`AssertionError: expected { Object (...) } to deeply equal { Object (...) }`

This return is not helpful at all, as there is no reporting on the differences.
I would expect something like this:

`AssertionError: expected { Object (...) } to deep

[2019-04-11 10:37] keithamus commented on #1247
Hey @klemens-u thanks for the issue.

At the moment we rely on your test runner to provide information like diff output. This is something we plan to change in great detail with Chai 5. We've got tasks to improve `loupe` - our inspection engine - on our Roadmap https://github.com/chaijs/chai/projects/2! We'll be releasing chai 5 soon, but for now I'll close this issue because it is tracked on our

[2019-04-11 10:37] #1247 closed

[2019-04-12 01:07] pipegreyback commented on #415
Thanks @aguegu ! I've been trying to find a workaround for testing async functions that throw errors, and yours have really helped me.
I got confused because there is not that much information online, besides this issue. A lot of the answers elsewhere use chai as promised, which I don't like, since using async/wait in chai seems better for me.
Hope this could help future readers.

[2019-04-25 18:41] RonWang commented on #864
Is there any preference which style is better to expect error thrown? normal vs try/catch?

[2019-05-07 00:12] lightbringer1991 opened #1250 "not strict compare assertion is missing"
So I have the following scenario to test
[code]

just wondering if there is a deep compare that allows comparing value and not type.
[code]

[2019-05-07 09:37] sebastianhaberey commented on #956
+1

I agree that the `.to.have.all.keys` notation is not very intuitive and `.to.have.only.keys` would be significantly more readable and make it easier for everyone not intimately familiar with chai syntax.

[2019-05-07 11:15] keithamus commented on #1250
Hey @lightbringer1991 thanks for the issue.

This is a great idea! We've added this to our Roadmap https://github.com/chaijs/chai/projects/2! We'll be releasing chai 5 soon, but for now I'll close this issue because it is tracked on our roadmap.

[2019-05-07 11:15] #1250 closed

[2019-05-08 00:00] lightbringer1991 commented on #1250
@keithamus sounds great, please let me know if a contribution is needed.

[2019-05-09 05:24] greenkeeper[bot] opened #1251 "An in-range update of codecov is breaking the build 🚨"
## The devDependency [codecov](https://github.com/codecov/codecov-node) was updated from `3.3.0` to `3.4.0`.

🚨 [View failing branch](https://github.com/chaijs/chai/compare/master...chaijs:greenkeeper%2Fcodecov-3.4.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

codecov is a devDependency of this project. It **might no

[2019-05-15 22:50] rpgeeganage opened #1252 "Chai Assertion error doesn't have 'operator' attribute"
Hey everyone,
I'm currently working on a feature in `jest` repo (https://github.com/facebook/jest/pull/8454).
While I came across that output is as follows. (https://github.com/facebook/jest/pull/8454/files#diff-e6f1eef106ffd32cb2e65acae35856b8R7)
[code]
it is because of https://github.com/facebook/jest/blob/master/packages/jest-circus/src/formatNodeAssertErrors.ts#L127, unable to extract the oper

[2019-05-16 09:11] keithamus commented on #1252
Hey @rpgeeganage thanks for the issue!

We do not use the `operator` property at all, to my knowledge. I'd happily welcome a PR to add it if you feel so inclined 😄

[2019-05-16 09:15] rpgeeganage commented on #1252
@keithamus ,
Thank you very much for the clarification.
I would love to spend time on adding this feature to `chai`. I will look into this and try to open a PR.
Thanks again for a wonderful library.

[2019-05-19 07:17] raosaqib commented on #1202
If I have multiple steps in  a single it block & my assertion fails ..but i need to go to the next step. but as soon as expect fails it doesn't go to the next step.

[2019-05-20 21:15] tcurdt opened #1254 "expect to throw not catching error"
The following code works as expected:

    try {
      await Request.new(0)
      assert(false, "should have thrown")
    } catch (error) {
      assert( /invalid address/.test(error),
        "unexpected error: " + error )
    }

I thought the chai equivalent would be

    expect(async () => {
      await Request.new(0)
    }).to.throw(Error, /invalid address/)

but instead the test is failing wi

[2019-05-20 21:37] zachlysobey commented on #1254
I don't think you can test `async` code with `.throw()`. That is, it needs to take a function that throws synchronously, not return a `Promise` that *rejects*.

see: https://github.com/chaijs/chai/issues/415

the `chai-as-promised` library might be worth looking at:
https://github.com/domenic/chai-as-promised

[2019-05-21 19:23] ps2goat opened #1255 "`undefined` should be NaN"
I'm currently using version 4.2.0 of chai.

I found the following discrepancy.  The first test works, while the second does not.  I would expect the second to work and is less verbose.  It's not a big deal for me, but it certainly doesn't follow actual js expectations (though js doesn't fit my expectations in this case).

tests:
[code]

Actual js in a console, and the reason for trying this test:

[2019-05-22 09:12] keithamus commented on #1255
Thanks for the issue @ps2goat!

Chai uses [`Number.isNaN` under the hood](https://github.com/chaijs/chai/blob/master/lib/chai/utils/isNaN.js), which believe it or not behaves differently to the global `isNaN`. `Number.isNaN` returns `false` for `undefined` while `isNaN` returns `true`:

[code]

`isNaN` was kind of always broken, and `Number.isNaN` was added in ES2015 to address these issues. Or as

[2019-05-22 09:12] #1255 closed

[2019-05-22 09:19] keithamus commented on #1254
Thanks for the issue @tcurdt!

@zachlysobey is right, an `async` function - when executed - will not throw, instead only returns a rejecting Promise.

I'll close this. We will adding Promise support in Chai 5, and its on the roadmap, but I'll close this issue as we're tracking Promise support separately!

[2019-05-22 09:19] #1254 closed

[2019-05-23 00:26] diladial commented on #858
probably not...

[2019-05-23 19:34] 3rd-Eden opened #1256 "Remove require cycles"
With the release of [ekke](https://github.com/godaddy/ekke) it's now possible to run test suites inside of React-Native. This also means that assertion frameworks such as `chai` can be used to assert within those tests.

Chai works out of the box for this new project without any required changes, which is pretty cool. Unfortunately, there are some warnings that show up when `chai` is being require

[2019-05-24 10:47] keithamus commented on #1256
Thanks for the issue @3rd-Eden!

There's good news and bad news: the bad news is without a big re-architecture things like circular dependencies are not going away. The good news is we're doing a big re-architecture! You can follow along on our roadmap here: https://github.com/chaijs/chai/projects/2! We'll be releasing chai 5 soon, but for now I'll close this issue because it'll happen intrinsical

[2019-05-24 10:47] #1256 closed

[2019-05-26 07:30] josh-byster opened #1258 "should.have.property does not diff objects?"
Hi, I'm using supertest + mocha + chai to test an Express app, and I wrote a simple function wrapper that I use to assert that my response object has a property:

[code]

One of my calls with the supertest chain is:
[code]

Here's what I get:
[code]
All other usage works as-expected with the method `chaiAssertProperty` — I just run into trouble with the object.

As seen above, the objects do not d

[2019-05-27 15:41] lucasfcosta commented on #1258
Hi @josh-byster,

When using `nested` you need to add the `deep` flag in order to get a [`nonStrict`](https://github.com/chaijs/deep-eql) comparison. Since you're comparing `objects` they will be different instances and therefore fail when doing a `strict` comparison.

You can see this if you do:

[code]

And then try:

[code]

If you want to add docs for this use-case I think it would be an aweso

[2019-05-27 15:41] #1258 closed

[2019-05-27 15:43] lucasfcosta commented on #1239
Hi @jolanda1,

Can you please be more specific on what you mean by security or give us a more in-depth description of your question?

I'll keep this open for a while but will close as stale in a few weeks.

[2019-05-27 15:53] lucasfcosta commented on #1243
Hi @Celthi,

I've just tried the exact example you posted and I cannot get it to fail. Can you please provide which versions of each modules you're using?

[2019-05-27 15:56] lucasfcosta commented on #1244
Hi @osmolyar, thanks for your issue 😊

This is expected and I believe this is related to #1241, correct?

If we're accepting `contains` to work with `oneOf` I think `includes` should make sense too.

Please feel free to open a PR for this feature. The core team is currently working on the new version, which is mostly a rewrite and therefore we will not have time to open a PR for this ourselves. Th

[2019-05-30 21:35] AuHau opened #1262 "throw() does not set error as object"
I am trying to assert a `code` property of a thrown error with `expect(fnc).throw(...).with.property(...)`, but it fails because `property()` gets the `fnc` and not the thrown error.

I boiled down the use case to the example in documentation, which also fails for me:

[code]

The version of chai is `4.2.0`.

I tried to debug it, but can't find the problem because according to debugger the `assert

[2019-05-30 21:44] AuHau commented on #1262
Hmmm, so in more debugging, I have created a minimum repo with only mocha and chain as dependencies and the above test is passing. Can this be related with `babel` transpiler?

[2019-05-30 21:56] AuHau commented on #1262
Hmmm so after more hair-pulling debugging I boiled down to a problem with a combination of two plugins:

[code]

The weird thing is that if used separately, the bug is not present, only if both plugins are used.

Ufff any ideas?

[2019-05-30 22:12] AuHau commented on #1262
Hmm alright, so the problem was with multiple redeclarations of `chai.use(require('dirty-chai'))` across several test files. Still not really sure why that was a problem, but it at least fixes the problem.

[2019-05-30 22:12] #1262 closed

[2019-06-03 02:17] astorije commented on #1252
Hey @rpgeeganage, thank you so much for helping!

I think I am misunderstanding something though so let me ask: what is the issue with the output you posted above? Is there something missing or incorrect?
I haven't met the `operator` attribute before, so I'm trying to understand what it's used for and what I'm missing :)

Thanks!

[2019-06-03 07:25] SimenB commented on #1252
`>assert.(received, expected)` at the top, it should say `assert.equal(received, expected)` or some such

[2019-06-03 10:47] AndreyBelym opened #1263 "The assertion error for 'incude(object, propName)' is cryptic when 'propName' is a string"
When you make a mistake and use `assert.include` instead of `assert.property` to assert that an object has a specific property (e.g. `assert.include({ foo: 'bar' }, 'foo');`), the error message is very unclear:
[code]

Can we do something to indicate clearly that this combination of arguments (an object + a string) is not possible for `assert.include`?

[2019-06-03 11:04] keithamus commented on #1263
Hey @AndreyBelym thanks for the issue!

This sounds like a good idea, PRs are welcome 😄. Should you need any guidance on making a PR for this, please feel free to ask 🙂

[2019-06-03 11:56] rpgeeganage commented on #1252
@astorije ,
As @SimenB  says, I came across this issue when I worked with the above-mentioned PR. At the moment, it hides the operator if not set. eg: https://github.com/facebook/jest/blob/de3815f437c31eed6bb5a80ab3f935d49f4dc9c1/packages/jest-circus/src/formatNodeAssertErrors.ts#L94
But In AssertionError, we can set the operator as per the Nodejs spec which I mentioned above.

[2019-06-09 04:12] astorije commented on #1252
Oooh I missed that part! I was reading the whole thing 3 times but somehow I missed that first line, ahah! Thanks!

[2019-06-15 16:04] electricmonk opened #1264 "allow .members to take optional comparator"
`function isSubsetOf(subset, superset, cmp, contains, ordered)` takes a `cmp` argument which is `utils.eql` if using the `.deep` property or undefined otherwise.

It would be very useful to allow `.members` to accept custom comparators, so that we can have something like:
`expect('a', 'B', 'c').to.ignoringCase.have.members('a', 'b', 'c')`
or
`expect([{name: 'Alice', age: '21'}, {name: 'Bob', age:

[2019-06-17 18:58] jfirebaugh commented on #662
This got accidentally closed because #668's description contained the text `we need to fix #662 in order to enable all tests`. Reopening.

[2019-06-20 04:37] HayTran94 opened #1265 "How I can test 2 object has a array without order"
Object 1:
[code]
Object 2:

[code]

I hope two test case will be success. But only the first test success, the second always fail.

[code]

I searched on google and I found that they will compare 2 arrays in object instead of 2 objects. But my use case need to test 2 objects rather than 2 arrays. So which assertion method I must to use?
Thank you in advance.

[2019-06-22 15:42] lucasfcosta commented on #1239
Closing as stale.

[2019-06-22 15:42] #1239 closed

[2019-06-22 15:43] lucasfcosta commented on #1243
Closing due to inactivity.

Please feel free to reopen this issue if you've got more information or would like to discuss any related aspects.

[2019-06-22 15:43] #1243 closed

[2019-06-23 13:14] lucasfcosta commented on #1265
Hello @HayTran94 😊

If you wanna check what an array contains I'd recommend that you use

[2019-06-23 13:14] #1265 closed

[2019-06-24 02:27] HayTran94 commented on #1265
Hello @lucasfcosta,

Thank for your response. But my use case is comparing between 2 objects, not 2 arrays. The object has array, number and string like the following object:

[code]
So Have Chai supported that feature? Thank you

[2019-06-24 07:30] lucasfcosta commented on #1265
Ah I see now what you're trying to do.

Chai does not support that specifically.

The best alternative would probably be to use [`satisfy`](https://www.chaijs.com/api/bdd/#method_satisfy) to write a custom matcher or to use [this plugin](https://www.chaijs.com/plugins/deep-equal-in-any-order/).

[2019-06-24 07:36] HayTran94 commented on #1265
@lucasfcosta

Thank for your response. I will implement that like your recommend.

[2019-06-25 19:05] rpgeeganage commented on #1252
Fixed with https://github.com/chaijs/chai/pull/1257

[2019-06-25 19:05] #1252 closed

[2019-06-25 20:51] rpgeeganage commented on #1263
@AndreyBelym ,
if you prefer, I can look into this.

[2019-06-26 07:48] lucasfcosta commented on #1263
Hi @rpgeeganage I think that given there's a few days since this has been first posted and it's not currently active it would be great if you are willing to look into it. Feel free to send open a PR if you wish 😄

[2019-06-26 07:54] AndreyBelym commented on #1263
@rpgeeganage it would be awesome, thank you. I'm afraid I can't find enough time to implement it on my own.

[2019-06-26 08:19] rpgeeganage commented on #1263
@lucasfcosta , @AndreyBelym ,
Thanks. I'll look into this.

[2019-07-05 07:45] Alex-Werner opened #1268 "expect.throw do not always works (provided script)"
Chai version `^4.2.0`

**Example Code:**
[code]

**Expected Result**
It should throw error with ` AssertionError: expected [Function] to throw error including 'd' but got 'Wallet is not loaded.'`

**Real Result**
It passes.

**Notes :**
This is a funny one, if error is `'Wallet is not loa'` (lenght: 17 char), then it works correctly.
Let put back to Wallet is not loaded. as an error, but change `e

[2019-07-05 15:03] greenkeeper[bot] opened #1269 "An in-range update of browserify is breaking the build 🚨"
## The devDependency [browserify](https://github.com/browserify/browserify) was updated from `16.2.3` to `16.3.0`.

🚨 [View failing branch](https://github.com/chaijs/chai/compare/master...chaijs:greenkeeper%2Fbrowserify-16.3.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

browserify is a devDependency of this project.

[2019-07-05 21:12] hugosenari opened #1270 "Assert errors don't show expect var name."
UX Issue:
-------------

Assert errors don't show expect var name.

example:
[code]
output:
[code]

Suggestion:
----------------

Create a wrapper for `expect`/`should` that use ES6 property shorthand and get var name.

example:
[code]
output:
[code]

POC:
-------

[code]
output:
[code]

Notes:
---------

* Sorry English is not my mother tongue;
*  Naming things is hard;

[2019-07-06 11:19] lucasfcosta commented on #1270
Hi Hugo 😊

Don't worry, English is not my native language either. As long as we can understand each other it's all good.

In regards to your suggestion, I completely see where you're coming from, but I think that approach solves the wrong problem.

What you want is to get more meaningful error messages and for that it's not necessary to wrap your variable into an object. Doing that would create un

[2019-07-06 11:19] #1270 closed

[2019-07-07 15:38] RAnders00 opened #1271 "Return promise holding error from `assert.isRejected`"
Consider the following example:

[code]

I'm suggesting that `assert.strictEqual` be resolved with the error the given promise was rejected with. If the built-in validation of `isRejected` fails (e.g. not an `Error`, message doesn't match etc.') the promise is rejected as previously.

[2019-07-07 15:38] #1271 closed

[2019-07-12 21:19] djom20 commented on #390
Hi,

I'd like to ask about if with function could be test this condition:

[code]

[2019-07-14 15:04] lucasfcosta commented on #390
Hi @djom20, I think you could try to use a [matcher](https://www.chaijs.com/api/bdd/#satisfymatcher-msg) or [search for a plugin](https://www.chaijs.com/plugins/) which would allow you to do that easily in a single assertion.

[2019-07-15 06:32] benben77 opened #1276 "assert.doesNotDecreaseBy not work as expected"
I am using chai@4.2.0

According to docs:

[code]

should pass.

But `doesNotDecreaseBy` pass when the value does not decrease:

[code]

[2019-07-18 23:09] greenkeeper[bot] opened #1278 "An in-range update of mocha is breaking the build 🚨"
## The devDependency [mocha](https://github.com/mochajs/mocha) was updated from `6.1.4` to `6.2.0`.

🚨 [View failing branch](https://github.com/chaijs/chai/compare/master...chaijs:greenkeeper%2Fmocha-6.2.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

mocha is a devDependency of this project. It **might not break your

[2019-07-23 19:43] porlov commented on #885
@keithamus What is the current status of this issue?
I don't see it in roadmap anymore.

[2019-07-25 06:40] janlukasschroeder commented on #1054
There is a simple workaround: Node.js `util.inspect`

Example:
[code]

[2019-07-30 17:32] eridal opened #1279 "How to expect `foo` is a "class"?"
Hi all, so here's what I'd like to do:

[code]

Which fails with `AssertionError: expected [Function: Foo] to be a class` due to *type-detect* returning `function` instead of `class`

Is there a workaround?

[2019-07-30 20:30] djom20 commented on #390
Thanks, it's working great now.

[2019-07-31 20:00] vforv commented on #958
Not working with 4.2.0 as well

[2019-08-05 22:30] daKmoR commented on #1232
a humble request to ask if there are any updates? 🤗

[2019-08-07 10:03] fizker commented on #1268
I think this is a classic case of RTM. From https://www.chaijs.com/api/bdd/#method_throw:

[code]

What you want for your case is `expect(() => method()).to.throw(/^d$/)`, so that it matches that exact string

[2019-08-07 10:08] fizker opened #1280 "The online test suite has 12 failing tests"
https://www.chaijs.com/api/test/ has the following results:

- Safari 12.1.1: 369 passed, 12 failed
- Firefox 68.0.1: 369 passed, 12 failed
- Chrome 76.0.3809: 417 passed, 12 failed

I don't know why Chrome is running more tests that the other two browsers, but they all agree on the failure count.

[2019-08-09 21:26] greenkeeper[bot] opened #1282 "An in-range update of karma-firefox-launcher is breaking the build 🚨"
## The devDependency [karma-firefox-launcher](https://github.com/karma-runner/karma-firefox-launcher) was updated from `1.1.0` to `1.2.0`.

🚨 [View failing branch](https://github.com/chaijs/chai/compare/master...chaijs:greenkeeper%2Fkarma-firefox-launcher-1.2.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

karma-firefo

[2019-08-13 13:26] ravecat opened #1283 "Add application-level express middleware in test"
Demo: https://codesandbox.io/s/mocha-chai-http-tests-o31ov
I try to add application-level middleware in testing stage like this

[code]

But test doesn't use that, it falls to 404-middleware in root. How can I use custom route in test?

[2019-08-16 08:08] daKmoR opened #1284 "Roadmap Chai 5 / Es module version?"
It has been quite a while since the last release/communication 😬

A lot has happened since then - es modules in particular and it seems finally the whole javascript "world" converges to a single way of loading other javascript code.

It seems es modules will be considered in chai 5? https://github.com/chaijs/chai/issues/1232#issuecomment-460055944

So the question is - is there any rough roadmap o

[2019-08-16 11:41] is2ei commented on #1279
@eridal

How about this one?

[code]

FYI: https://stackoverflow.com/a/29094209/10731676

[2019-08-16 12:48] is2ei opened #1285 "duplicated doesNotDecrease in TOC"
I found `doesNotDecrease` is duplicated in the  TOC.
https://www.chaijs.com/api/assert/#method_doesnotdecrease
<img width="297" alt="Screen Shot 2019-08-16 at 21 47 16" src="https://user-images.githubusercontent.com/3948353/63168598-95e18b00-c06f-11e9-8d78-a4a0d85e688a.png">

Also, I found the comments are not correct.
https://github.com/chaijs/chai/blob/6441f3df2f054da988233b0949265122b5849ad8/ch

[2019-08-19 13:24] keithamus commented on #1284
Hey @daKmoR thanks for the issue!

As explained in #1232 we will be moving to ES modules in chai 5. We have a private repo which sketches out a version of Chai 5 which includes ES modules, a new plugin system, and uses Lerna. We're in the process of turning that sketch into a reality, with the first step of converting [this repo into a lerna repo](https://github.com/chaijs/chai/pull/1249).

We'll

[2019-08-19 13:24] #1284 closed

[2019-08-19 13:29] keithamus commented on #1283
Hey @ravecat thanks for the issue.

You'd have much more success posting your question to Stack Overflow - https://stackoverflow.com/. It's a great resource full of knowledgable people who will happily take the time you help you with this. This issue tracker, however, is only monitored by less than a handful of people whose time is stretched thin.

I'm going to close this issue - because its not a

[2019-08-19 13:29] #1283 closed

[2019-08-19 13:30] #1263 closed

[2019-08-19 13:51] keithamus commented on #1268
Hey @Alex-Werner thanks for the issue.

As @fizker has pointed out, this is a "Feature Not a Bug" 😉.  The string argument checks for inclusion not equality.

I'll close this issue, as it's the intended behaviour and documented as such. Feel free to continue the discussion though, if you think this is wrong and we should change it then we can always re-open the issue!

[2019-08-19 13:51] #1268 closed

[2019-08-19 14:01] keithamus commented on #1279
Hey @eridal thanks for the issue.

There's currently no way to assert that an object is a class. We've added this to our Roadmap https://github.com/chaijs/chai/projects/2 for Chai 5! We'll be releasing chai 5 soon, but for now I'll close this issue because it is tracked on our roadmap.

[2019-08-19 14:01] #1279 closed

[2019-08-19 14:40] keithamus commented on #885
@porlov this will be covered by https://github.com/chaijs/chai/projects/2#card-10444260 which allows for expectations within deep-eql:

[code]

[2019-08-19 14:43] keithamus commented on #1280
Hey @fizker thanks for raising this issue.

Chrome is likely running more tests because we have some tests only run with feature detection.

I'll close this for now as we're aware of the issue and we'll look into why the tests are failing as part of the 4.3.0 release.

[2019-08-19 14:43] #1280 closed

[2019-08-24 15:48] dapaulid opened #1287 "Break debugger on assertion"
It would be nice to have a debugger break when an assertion fails so that you can immediately check what's going on without setting a breakpoint and re-running the test.

This could possibly be realized by adding a `debugger` statement before throwing an `AssertionError`.

[2019-08-29 16:48] rhenwood-arm opened #1288 "Release plan?"
Hi @keithamus,

I would like to pick up the PhantomJS removal patch: https://github.com/chaijs/chai/pull/1204
Can you make a release to simplify this for me?

[2019-08-29 21:02] keithamus commented on #1288
Hi @rhenwood-arm thanks for the issue, but I'm not sure I understand what you're asking here.

PhantomJS is a devdependency, so should have no affect when you install chai.

We have a release due very shortly - the PR is here: https://github.com/chaijs/chai/pull/1266.

I'll close this issue because I don't think there is anything to action here. If you see any more issues please let us know!

[2019-08-29 21:02] #1288 closed

[2019-09-02 12:45] junaid1840 commented on #1202
Having same problem.
[code]
The loop breaks when any assertion is failed. e.g if loop has 10 iterations and the 2nd one failed then it stops iteration after the 2nd one.
Please Help.

[2019-09-03 08:28] raosaqib commented on #1202
@junaid1840  you need to override the chai assertion  and need to create a wrapper around the assertion you are using and handle it using try/catch

[2019-09-12 16:09] stevenvachon opened #1290 "Alias "index" for "property""
This is clearer:
[code]

...than:
[code]

[2019-09-15 10:44] perrin4869 opened #1291 "Integrating chai-http and chai-enzyme question (with solution)"
Yesterday I ran into https://github.com/chaijs/chai-http/issues/150, and after tracking down the root cause, I found that both plugins register an `html` and `text` property. The following will crash:

[code]

The reason for this, is that `chai-enzyme` will try to call `overwriteMethod` on `Assertion.prototype.html`, which is defined as a `getter` by `utils.addProperty` in `chai-http`.

A workarou

[2019-09-16 10:24] keithamus commented on #1291
Hey @perrin4869 thanks for the issue and the detailed description and solution!

As you suggested, Chai 5 has been re-architected to work around these exact kind of issues. Plugins declare their assertions and Chai does all the wiring itself, avoiding collisions and the like.

I'll close this because - while it does suck that it'll remain broken in Chai 4 - Chai 5 will fix this and there's nothing

[2019-09-16 10:24] #1291 closed

[2019-09-16 11:49] jomag opened #1292 "increase/decrease/change does not handle async functions"
I would like to use chai increase to make sure the number of rows in a database has increased during an operation:

[code]

This does unfortunately not work as the `increase` test does not check if the function is asynchronous.

[2019-09-17 07:57] vapier opened #1293 "incorrect use of @namespace jsdoc tag (should be @memberof)"
here are the specs for the jsdoc tags:
* [@namespace](https://jsdoc.app/tags-namespace.html): The `@namespace` tag indicates that an object creates a namespace for its members.
* [@memberof](https://jsdoc.app/tags-memberof.html): The `@memberof` tag identifies a member symbol that belongs to a parent symbol.

chai seems to use `@namespace` as if it were `@memberof`.  for example:
[code]

afaict, t

[2019-09-24 01:38] bdcarr commented on #1241
Having the same issue; my example can be simplified straight down to this:
[code]

![image](https://user-images.githubusercontent.com/1940488/65474544-8ac81900-debf-11e9-8209-30dd506ffbad.png)

Looks like `oneOf` doesn't check for `deep`?

[2019-09-26 16:30] AdamVig commented on #1136
I ran into the same issue with an `HTMLElement` rendered by React. The properties that React adds to elements apparently have circular references.

I noticed it on `strictEqual`, `isNull`, and `isNotNull`. My workaround is to do the comparison myself, which leads to confusing assertion errors:

[code]

@keithamus Since it has been more than a year since you said this would be fixed in Chai 5, woul

[2019-09-27 15:39] hamjo opened #1294 "expect(x).to.include.an.instanceof(Constructor) would be a great addition for polymorphism"
# Problem

Let's say you have an `Array` of `Animal`s :
[code]

There is no way (**as I know of**) to assert that the list contains a `Dog` or a `Cat`

# Proposal

This could be fixed by allowing the following chain
[code]

[2019-09-27 18:38] antoxas1986 opened #1295 "eiddccidrnhlrdfekuhdrcvjrfrllfdrlllrleugfrgl"

[2019-09-27 18:38] #1295 closed

[2019-09-30 14:58] djom20 opened #1296 "There is a way to intercept all custom error messages?"
Hi,

Currently I'm working on set an explicit message into the reports from protractor with chai, I know that we can set a custom message on the expects but my goal is just put the just our message and I got actually something like that: `AssertionError: The create application button was not found: expected false to be true`, so I need to remove 2 things for all the errors:

1. AssertionError:
2.

[2019-10-01 01:05] smichea opened #1297 "undefined 'global' in browser script"
When trying to load  https://www.chaijs.com/chai.js  in nashorn js engine i get :
javax.script.ScriptException: ReferenceError: "global" is not defined in https://www.chaijs.com/chai.js at line number 10478.

`var globalObject = typeof self === 'object' ? self : global;`

[2019-10-01 12:20] keithamus commented on #1297
Hey @smichea thanks for the issue!

Chai does not currently support Nashorn, we only claim to support web browsers and Node.js. It looks as though OpenJDK also no longer supports Nashorn (I'm looking at [`JEP 335`](http://openjdk.java.net/jeps/335)).

I'm going to close this issue for now - just because I can't see us being able to add support for a now deprecated project, but if you can provide m

[2019-10-01 12:20] #1297 closed

[2019-10-03 11:04] achingbrain opened #1298 "Order of `chai.use` breaks `.has.property` target change"
Running the following code:

[code]

results in this error:

[code]

However swapping the order of the `chai.use(...)` statements around makes it pass:

[code]

I'm not really sure if this is a problem with `chai`, `chai-as-promised`, `dirty-chai` or a combination of all three.

[2019-10-12 20:02] Jekshmek opened #1299 "Documentation error api/assert nestedInclude"
Error [page](https://www.chaijs.com/api/assert/)

to

[2019-10-15 09:08] ShanWehttam opened #1300 "Some 'deep' examples on the chai webpage arn't working"
Hi there,
Using "version": "4.2.0"
        "assertion-error": "^1.1.0",
        "check-error": "^1.0.2",
        "deep-eql": "^3.0.1",
        "get-func-name": "^2.0.0",
        "pathval": "^1.1.0",
        "type-detect": "^4.0.5"

Some of the '.deep' 'expect' assertions that are given as examples on the chai website arn't working, and i wondered if it was an issue others are experiencing.  Are th

[2019-10-16 11:49] rahulnlb1 commented on #948
I used ```expect([1, 2, 3]).to.eql([1, 2, 3]);``` for assertion of deep entities and it worked for me.

[2019-10-16 19:08] sancarn opened #1301 "0 passing - Why doesn't it say 5 passing?"
This is a copy and paste initially posted on https://stackoverflow.com/questions/58384761/node-mocha-0-passing

----

I've seen numerous posts on stack overflow about this issue, however none of the solutions that I have read thus far, have worked in my specific case. I'm generally quite confused as to why this might be happening.

Things I've already tested:

* Adding test scripts to test/ folder

[2019-10-19 18:35] 271ch opened #1302 "chai plugin with html diff"
Is there a chai plugin with html diff?
Something like the `chai-xml`, which is excellent, but does not digest `<img .. />` and similars.
I've to compare two html strings.

[2019-10-23 09:16] tobirohrer commented on #259
@djom20 When I run the following Test in Jest 24.8, the test **passes**
[code]
it seems, that only the first expect is taken into account... In my case, I just use multiple expects, like:
[code]

[2019-10-31 16:34] rhenwood-arm opened #1303 "make a release?"
@meeber: I would like to pick up the phantomjs removal in a release. Can a release be made please?

[2019-11-01 15:33] sumanbk92 opened #1304 "How to install Chai Assertions for Promises"
Probably there is missing info in the content for installing Chai Assertions for Promises.
It is supposed to be "npm install chai-as-promised"

Link: [https://www.chaijs.com/plugins/chai-as-promised/
![Screenshot from 2019-11-01 21-02-19](https://user-images.githubusercontent.com/8256637/68036066-f5ece280-fcea-11e9-98c7-e4c92d5caa0c.png)
](url)

[2019-11-01 15:40] lucasfcosta commented on #1303
I think it's about time, let me CC @keithamus as I'd also like a release for the changes on the operator prop on the thrown error.

[2019-11-05 22:33] jessicabyrne commented on #1024
@keithamus Is there a solution available through `chai` now?

[2019-11-08 11:05] keithamus commented on #1303
We've got a PR in the works; https://github.com/chaijs/chai/pull/1266. There are some test failures happening though, these will need to be addressed - I'm afraid I don't have time to look into them but if we can get the PR green I can merge and release.

I'll close this issue, as the actionable stuff is in https://github.com/chaijs/chai/pull/1266

[2019-11-08 11:05] #1303 closed

[2019-11-08 11:06] #1251 closed

[2019-11-08 11:06] #1269 closed

[2019-11-08 11:06] #1278 closed

[2019-11-08 11:06] #1282 closed

[2019-11-09 00:51] MicahZoltu commented on #1195
I'm still experiencing this with the latest version of Chai.  I believe `bigint` is now stage 4 or final, would really like to see it get supported.

[2019-11-11 20:30] jackbsteinberg opened #1307 "The API section of the documentation out of alphabetical order"
I figured out how to do what I had previously thought was an issue, are there any plans to alphabetize the BDD / TDD pages of the API?

[2019-11-12 16:56] #1307 closed

[2019-11-12 17:08] yoannpicquenot opened #1308 "Error: Invalid Chai property: equal.length. See docs for proper usage of "equal"."
Hi,

I have a little library that requires chai for tests. I have to generate a d.ts file in order to use my lib with TypeScript.

Here's what happens:

[code]

I have tried to generate d.ts file separately.

[code]

I got the same error. It says I have to log a bug, how am I supposed to do that?

[2019-11-14 17:12] gagern commented on #662
This bug had me wondering for a while why my set was empty until I found it wasn't:

[code]

I wonder whether it would make sense to leverage [`util.inspect`](https://nodejs.org/dist/latest-v12.x/docs/api/util.html#util_util_inspect_object_options) when running on Node. That would not only handle sets, but also give access to any custom representation people might have implemented for their own ty

[2019-11-15 14:25] keithamus commented on #662
Here's the todo list for releasing loupe v2: https://github.com/chaijs/loupe/issues/15. Once released we can bring it into Chai and probably release a 4.4 version to get this in before Chai v5.

Any one who wants to help out with the todo list, we'd super appreciate it!

[2019-11-18 02:46] tusharmath commented on #1065
Actually the `assert` implementation by node.js actually works —

[code]

[2019-11-20 14:50] Petrouchka opened #1309 "HTTPS wrong on Chai website"

[2019-11-20 14:51] #1309 closed

[2019-11-25 09:47] karboom commented on #415
you can write a function to swap resolve & reject handler, and do anything normally
[code]

[2019-12-05 22:01] asinner commented on #909
Just FYI if you're using Typescript and reading this, you will run into this issue trying to check the error type using `chai.throw()`. Here is the [Typescript doc](https://github.com/Microsoft/TypeScript/wiki/Breaking-Changes#extending-built-ins-like-error-array-and-map-may-no-longer-work) on this particular issue.

In order to handle this I use the matching feature to ensure that the error it's

[2019-12-08 02:53] Debbielei commented on #885
@keithamus could you please review your last example code.   Where should the objTwo be defined?  In the initial example / issue, there are two objects  (such as objOne and objTwo).  The goal is to compare the whole object except `uniqueId`(keyName2).

[2019-12-09 21:10] daKmoR commented on #1284
hey @keithamus 🤗

I'm still quite interested in this 🤗 so if there is any new information - I would be thrilled to hear it 🤗

[2019-12-10 00:45] aryehb commented on #94
@martin-g This won't have the expected behavior for any of the `members` methods (e.g. `assert.includeMembers()`).

For those methods, Chai also runs an additional 2 assertions internally to assert that `actual` and `expected` are both arrays (see [here](https://github.com/chaijs/chai/blob/7ff12731428ab5d12f1e77e32d6a8d3eb967d082/lib/chai/core/assertions.js#L3080)), so the recorded number of asser

[2019-12-10 14:32] akopchinskiy opened #1310 "".not.have.keys" construction does not work"
This code passes the test, however it shouldn't.
[code]

[2019-12-13 17:08] travi opened #1311 "strictEqual not as strict as claimed"
i've been using `assert.strictEqual()` in some tests around memoization to ensure that the code was not generating new instances when the memoized instance should be returned. however, while [the docs](https://www.chaijs.com/api/assert/#method_strictequal) specifically call out `===` comparison, i've found that the check is not failing when it should be.

in the case that i found

[code]
passes, w

[2019-12-13 17:28] travi commented on #1311
upon thinking through more of our configuration, we have [chai-immutable](https://github.com/astorije/chai-immutable) registered as a chai plugin for comparing immutable instances. especially considering open issues like [this one](https://github.com/astorije/chai-immutable/issues/37), i suspect the issue is with `chai-immutable`'s overriding of `.equal()`.

i'll close this for now, but will re-op

[2019-12-13 17:28] #1311 closed

[2019-12-20 07:17] Vishwas1 commented on #958
Having the same problem with ```"chai": "^4.0.0-canary.2",```

[2019-12-29 22:55] akauppi commented on #1256
I also got this, importing `chai` (4.2.0) as ES6 module with Rollup. (just saying, I know the ticket is closed)

[2019-12-31 16:07] MackeyG opened #1312 "Invalid Chai property: push. Did you mean "is"?"
Hello,
I am receiving the error 'Invalid Chai property: push. Did you mean "is"?' in my console associated with a before each that calls a factory to build an elastic search body. It appears to be failing while using push to load strings into an array. Any help would be appreciated.

Before:
`//Before Tests - Create an Elastic Search Body
    before((done) => {
   const searchParameters: ElasticCo

[2020-01-03 02:22] toymachiner62 commented on #369
What is the `expect` equiavlent of `assert.ifError`?

[2020-01-08 03:01] crystalfp opened #1313 "Expect documentation has duplicated fail entry"
On [expect documentation page](https://www.chaijs.com/api/bdd/) the entry for `fail` is duplicated. One is enough.

Thanks!
mario

[2020-01-08 18:03] MackeyG commented on #1312
Chai overwrites the should property in the elastic search factory. Looks like I have to avoid loading or calling the should assertion.

Guess I am moving to expect.

[2020-01-08 18:03] #1312 closed

[2020-01-10 16:26] crystalfp opened #1314 "Typescript test says error TS2339: Property 'by' does not exist on type 'Assertion'."
I'm trying to test if an array increases in length by 1 after executing a certain operation.
The test is written in typescript and runs with the usual `mocha -r ts-node/register mytest.ts`. The chai version is 4.2.0. Unfortunately, it does not compile with the error: `TS2339: Property 'by' does not exist on type 'Assertion'.` Here is a simplified test to reproduce the error:
[code]
I don't see any

[2020-01-13 23:43] daKmoR commented on #1284
it is a new year 🤗 any new(year)s? 😬 🤣

[2020-01-14 11:02] keithamus commented on #1284
Sadly no. We're making slow progress, due to personal circumstances. https://github.com/chaijs/loupe needs updating with more tests and to pass the build, then we can cut a 2.0 release and hopefully bring it into Chai 4, which will help us reduce the amount of code we need to transition out in Chai 5.

[2020-01-16 09:09] IanKemp opened #1315 "`.above` and `.least` aliases not consistent"
The documentation for [`.above`](https://www.chaijs.com/api/bdd/#method_above) states:

However, for [`.least`](https://www.chaijs.com/api/bdd/#method_least):

To my mind, there should be a `.greaterThanOrEqual` alias for `.least` in addition to the current `.gte` alias, for conformity in the use of these APIs.

The same applies to `.below` and `.most`; the latter would benefit from a `.lessThanOr

[2020-01-20 10:35] Hocdoc commented on #1228
Will there be a solution for this issue in the next months?

[2020-01-31 14:20] greenkeeper[bot] opened #1318 "An in-range update of codecov is breaking the build 🚨"
## The devDependency [codecov](https://github.com/codecov/codecov-node) was updated from `3.6.2` to `3.6.3`.

🚨 [View failing branch](https://github.com/chaijs/chai/compare/master...chaijs:greenkeeper%2Fcodecov-3.6.3).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

codecov is a devDependency of this project. It **might no

[2020-02-02 15:29] Neob91 commented on #1315
I'm a first-timer here, and I was looking for a way to contribute.
Can I tackle this one @keithamus?

[2020-02-02 15:38] keithamus commented on #1315
Absolutely @Neob91! Always happy to have new contributors. Let us know if you need any more info to proceed!

[2020-02-02 15:41] Neob91 commented on #1310
Chai uses `all` by default with `keys. So your expression is equivalent to
[code]

Which means that it is expected that *all of the target's keys* are not a match to the provided list of keys. You should use `not.to.have.any.keys`.

That being said, this behavior feels counter-intuitive to me.
@keithamus What do you think about making `not.to.have.keys` default to `not.to.have.any.keys`, and `to.h

[2020-02-02 15:45] keithamus commented on #1310
IIRC @meeber spent some time working through this assertions. I bet @meeber has some thoughts on this.

[2020-02-02 18:52] meeber commented on #1310
Been awhile since I looked at or thought about this. Here's a related blast from the past: https://github.com/chaijs/chai/issues/881. In the first post of that thread, I propose deprecating `.any`. But in this follow-up comment, I concede that `.any` does have a use in some negated assertions (e.g., `.not.have.any.keys`): https://github.com/chaijs/chai/issues/881#issuecomment-271054027.

I agree t

[2020-02-03 09:07] Neob91 commented on #1315
Thanks for making me feel welcome @keithamus! I opened a pull request (#1319) - please let me know if I missed anything.

[2020-02-12 10:55] talark961 opened #1320 "chained property issue with `.all.have.property`"
I'm using `chai@4.2.0` along with `chai-things`

[code]

I expect all objects of `myArray` to have the property `prop1` and `prop1` to be a `string`.
My approach was:

[code]

or

[code]

Both tests fail with:

[code]

[2020-02-24 10:45] pintonos commented on #1241
Is there any update on this?

[2020-02-25 23:45] fubar opened #1321 "Support for BigInt"
Chai still doesn't support BigInts.

[code]

Results in `TypeError: Do not know how to serialize a BigInt` (triggered by JSON.stringify).

BigInt is now a standard primitive and it would be great if Chai supported it out of the box.

Stale/closed issue: https://github.com/chaijs/chai/issues/1195. The roadmap has that issue in todo but it has not been updated since Apr 2019: https://github.com/chai

[2020-03-02 01:48] paulmelnikow commented on #708
This is an old issue, but it’s a useful assertion to have!

[2020-03-03 12:56] jawn commented on #1247
Hi @keithamus, any news on this chai 5 version?

[2020-03-03 15:57] keithamus commented on #1247
Hi @jawn we're working on loupe, the inspection engine. We may have a release soon, at which point we will look at if it is possible to release a `4.x` release which will fix this issue, instead of waiting for chai 5.

[2020-03-20 22:16] w3bdesign opened #1325 "Project dead?"
Is this project dead?

If yes, what would be the best replacement for it? Mocha?

[2020-03-23 12:46] keithamus commented on #1325
Hey @w3bdesign thanks for the issue.

The project is very much alive. Chai 4 is usable, you can install it and it works. We're working on a releasing new versions, but we have few maintainers with limited time. Most of the work at the moment has been focussed on our inspection engine, https://github.com/chaijs/loupe/, which will make error messages much more helpful for subsequent releases.

I'll

[2020-03-23 12:46] #1325 closed

[2020-03-23 19:30] fabpin opened #1326 "Problem with Typescript ES5 and ES6"
Already im building a Lambda with Typescript, already installed the following package and had the following configuration on my Laptop:

Package.json

[code]

Configuratio of the laptop
- Node.js version 12.14.0
- NPM Version 6.14.2
- Windows 10 64 bits, 16GB Ram, I7 8th Gen

/test/test.ts

[code]

With `npm run test-ts` work as the same way if you run `npm test` present the following error:
[erro

[2020-03-30 10:43] greenkeeper[bot] opened #1327 "An in-range update of browserify is breaking the build 🚨"
***
☝️ **Important announcement:** Greenkeeper will be saying goodbye 👋 and passing the torch to Snyk on June 3rd, 2020! [Find out how to migrate to Snyk and more at greenkeeper.io](https://greenkeeper.io)
***
## The devDependency [browserify](https://github.com/browserify/browserify) was updated from `16.5.0` to `16.5.1`.

🚨 [View failing branch](https://github.com/chaijs/chai/compare/master...ch

[2020-03-30 20:39] HoldYourWaffle commented on #331
Is there a proper solution for this yet?
It looks like `chai-things` isn't maintained anymore (https://github.com/chaijs/chai-things/issues/44, https://github.com/chaijs/chai-things/issues/58), although it was pulled into the chaijs org.

[2020-03-31 19:41] crfrolik commented on #41
Is there a good reason for chai using this pattern? (side-effects on property getters)
https://github.com/moll/js-must#asserting-on-property-access

[2020-04-01 05:47] MylesWardell opened #1328 "Bug/To.have.all.keys broken"
## Expected
`expect({ x: 1 }).to.have.all.keys('x') \\Passes`

## Actual
`expect({ x: 1 }).to.have.all.keys('x') \\ Fails - AssertionError: expected { Object (_id, user_id, ...) } to have property 'length'`

[2020-04-06 07:27] bbhopesh opened #1330 "Unordered comparison of nested and doubly nested arrays"
All the arrays in my object are meant to be sets, so while comparing multiple objects, I want every array comparison to be unordered. Many times these arrays are nested. I was sondering if there is an easy way to accomplish this with chai.
Here is a sample structure:
[code]

[2020-04-07 16:44] abhinaba-ghosh opened #1331 "How to re-try chai expect assertions multiple times before declaring the test as "failed""

[2020-04-07 18:43] HoldYourWaffle commented on #596
I just stumbled upon this issue again. Unfortunately it's not currently mentioned in the documentation, even though #938 was apparently merged into #920.

[2020-04-11 12:19] frederikheld commented on #81
Is there any way to get this plugin working if I use _should_ this way?
[code]

This throws a TypeError

[code]

UPDATE:
Thanks to @dheerajbhaskar I got it working like this:

[code]

But it's less self-explanatory IMHO so I would prefer the alternative above. Any ideas?

[2020-04-15 05:57] Caligatio opened #1333 "assert.throws does not perform equality check against Error message"
It appears that `assert.throws` does some sort of `.endsWith` comparison instead of an equality check if provided 2 arguments and the second argument is a string.  From the docs:

[code]

This definitely makes me believe that the string provided should match the Error message.  However, I discovered the following:

[code]

[2020-04-16 15:43] rgroothuijsen commented on #1276
From what I can see in the code, it doesn't even get to the "by" part, because it already fails on the "does not decrease" part.

[2020-04-16 18:31] rgroothuijsen commented on #1298
I'd think so as well, though looking at the code of `chai-as-promised` and `dirty-chai`, I'm not so certain. They each have their own way of modifying Chai, so interactions certainly are possible.

[2020-04-16 19:25] Caligatio commented on #1333
Digging through the code, I found the offending line (https://github.com/chaijs/chai/blob/master/chai.js#L9576) which uses an indexOf rather than equality.

[code]

The naming of the function makes me think not using equality was deliberate but this is incorrect behavior,

[2020-04-23 05:41] jedwards1211 opened #1335 "[Feature Request]: .and.have.property('foo').that.is(X) instead of "that.be", for the sake of English grammar"
Not a huge deal but it's awkward that we have to use incorrect English grammar in this case.  Most significantly it's probably a bit confusing for first-timers.

Would be nice if we could use `.is` in the same place as `.be`:
[code]

[2020-04-27 17:05] kellyselden opened #1336 "expect().to.throw without invocation should warn"
Given a `func` that is not throwing. This code passes:

[code]

but this code does not:

[code]

This accident was hiding in our code. I think I've seen other chai assertions warn or error if used as a property and not a method. Apologies if this has been brought up before.

[2020-04-28 20:29] dkumar0826 opened #1337 "Cypress API Response body Validation getting an error"
my code
expect({ company: 'Final Test' }).to.deep.equal( response.body);

Actual Response
[{"id":"gshs-gsy-4d9f-83e0","company":"Final Test","title":"","name":" homeins"}]

I want to validate the company : Final Test

Cypress test results

expected { company: Final Test } to deeply equal [ Array(1) ]

[2020-05-01 15:16] Aarbel opened #1338 "Invert "expect" and "actual" in logs"
![image](https://user-images.githubusercontent.com/25119847/80816241-707db880-8bcf-11ea-9893-47192c28f2b2.png)

You should invert these two words.

Why because all Chai api use "actual" first and "expected" after in arguments.

[2020-05-06 16:45] KnorpelSenf opened #1339 "a/an have wrong TS types"
According to [the docs](https://www.chaijs.com/api/bdd/#method_a), `a` as well as `an` can be used as language chains. However, TypeScript does not permit this.

It is possible to fix the issue by simply changing `a: TypeComparison` to `a: TypeComparison & Assertion` in the declaration file (and `an` ditto). I'd love to open a PR on DefinitelyTyped, I just wanted to make sure that I'm not maybe mi

[2020-05-06 16:48] KnorpelSenf commented on #1339
In fact I just saw that `length` actually works like the second suggestion above, so then I'd roll with that

[2020-05-11 09:13] abhinaba-ghosh commented on #1331
what if chai itself be the smarter guy and retry its assertions on its own?

A better way to handle this to retry the assertions a specific number of times. You can use a node library called [Chai-Retry](https://www.npmjs.com/package/chai-retry)

First, install the package:

[code]

Then configure the plugin

[code]

Now, you just need to perform any assertion you like. The assertions will automat

[2020-05-20 04:48] tarun3 commented on #586
Hi ,
I am using mocha steps and when i used above solution i am getting below error:
TypeError: (0 , _mochaSteps.step)(...).then is not a function

This is my code
step("should be able to login  ", async () => {
        await page.goto(Config.baseUrl);
        await loginpage.login("@gmail.com","12345678");
        await  page.TakeScreenshot();
        const success= await page.isElementVisible(".

[2020-05-27 09:50] lane-eb commented on #858
[code]

[2020-05-28 15:44] lazka commented on #1231
fyi, the last release of @rollup/plugin-commonjs no longer needs the namedExports workaround and figures things out automatically.

[2020-06-02 19:23] juanatsonhos opened #1341 "`calledWithMatch` asserting on reference rather than copy of argument"
We have a piece of code which does the following:

[code]

And we want to assert the following:
[code]

The issue appears to be that `param.property` is overwritten by the `caller_function`, and thus resulting in an assertion error.

[2020-06-04 12:40] MarkHerhold opened #1342 "API Design Question: Why does assert.deepEqual() not behave like expect().deep.equal()?"
Can someone please help me understand the **history** or **reasoning** behind why `assert.deepEqual()` does not behave exactly the same as `expect().deep.equal()`?

[code]

I normally don't mix usage of `expect`/`assert` so this is not a pressing issue for me but I was surprised to see that deep assertions don't behave the same way.

[2020-06-04 12:51] MarkHerhold commented on #1331
That would be bad test design and you probably shouldn't do it, but you could use a library like [p-retry](https://www.npmjs.com/package/p-retry) to retry the operation and the assertion.

There may also be ways to do it with your test runner. Again, not recommended and I don't  think this is a chai question.

[2020-06-04 17:32] zelbov opened #1343 "Broken "above" or "not"?"
Case:

`expect(1).not.null.and.not.undefined.and.above(0);`

Expected behaviour: does not throw error

Actual behaviour:

`AssertionError: expected 1 to be at most 0`

P.S. If "above" comes first before nullish/undefined checks, it works fine:
`expect(1).above(0).and.not.null.and.not.undefined`
Statement like `.not.null.and.not.undefined` works fine itself, but `above` seems taking some of `not` s

[2020-06-05 22:30] bobthebit commented on #596
In the breaking changes documentation for typescript 2.1 (https://github.com/Microsoft/TypeScript-wiki/blob/master/Breaking-Changes.md#extending-built-ins-like-error-array-and-map-may-no-longer-work) it is suggested, to explicitly set the prototype of the custom error to allow for typechecks via instanceof:

[code]

After following this, it seems `expect(()=>{throw new FooError()}).to.throw(FooErr

[2020-06-09 07:50] srihitha97 opened #1345 "Chai version upgrade error ("
After upgrading chai version from ~3.5.0  to   ~4.2.0 I am facing the following error:
Code:
[code]
Error:
`TypeError: expect(...).to.be.rejectedWith(...).then is not a function`

[2020-06-10 05:01] bdcarr commented on #906
Hi @keithamus, I see `.loose.equal` is in the Done column of the roadmap, but I don't see it in the current version of chai.

![image](https://user-images.githubusercontent.com/1940488/84228538-a39a5c80-ab2a-11ea-9282-cd41e1b9ab03.png)

Any idea when it'll be available? The system I write tests for is a bit wild; sometimes you get numbers and sometimes you get strings, and it doesn't actually matt

[2020-06-11 15:40] n1kolass opened #1347 "Expect/should API page contains duplicated fail description"
[Expect/should](https://www.chaijs.com/api/bdd/) API page contains duplicated fail description as pictured down below.

![изображение](https://user-images.githubusercontent.com/8257042/84406935-dcadfc00-ac12-11ea-8156-67cbaf0902bd.png)

[2020-06-11 20:22] flaambe commented on #1347
1. expect
2. should

[2020-06-16 19:25] dwelle commented on #1321
Serialization can be solved by doing something like:

[code]

But assertions will also fail because chai boxes bigints into some kind of object (when storing it to `__flags.object`.

[2020-06-17 09:16] keithamus commented on #1321
I'm going to close this, as it is a dupe of #1195. The roadmap is the preferred way to track progress for us. The current in flight project is `loupe` - which was deemed in most need of attention, and the last commit was 22nd Apr 2020. Once we're happy with loupe we'll be moving onto the next todo item.

If you uncover any bugs please feel free to file more issues, but rest assured we're aware of

[2020-06-17 09:16] #1321 closed

[2020-06-17 09:42] dwelle commented on #1321
@keithamus if it's not too much trouble, can you give me a hint where chai boxes BigInts (and I reckon any types it doesn't know about) into `[BigInt: 122054031626471353n]` when I log `utils.flag(this, 'object')`? I'm getting lost in the source, and could use some help for a fork before chai v2 is ready. Thanks!

[2020-06-17 10:04] keithamus commented on #1321
Just FYI we support BigInts for assertions like `.to.be.equal`. If you run `expect(0n).to.equal(0n)` you'll get a passing assertion. I don't know where the OP saw the error `TypeError: Do not know how to serialize a BigInt` (perhaps from a plugin or some kind of monkey-patch on `BigInt`?), but if I run `expect(0n).to.equal(1n)` I get `AssertionError: expected {} to equal {}`

Chai doesn't box the

[2020-06-17 11:04] dwelle commented on #1321
Thanks for detailed writeup. I've been through most of those places in the codebase myself, and thus couldn't figure out where that "boxing" (or what it is) is coming from. It must not be chai then. I'll investigate when I get time and get back to you if I find the culprit.

[2020-06-17 11:22] dwelle commented on #1321
Ok, so it seems it's related only to `should` assertions:

[code]

`expect` is fine: `chai.expect(10n).to.eq(10n);`

[2020-06-17 11:57] dwelle commented on #1321
Mhm.. turns out this has nothing to do with Chai, but JS. `this` refers to the boxed primitive value:

[code]

[2020-06-17 12:02] dwelle commented on #1321
I can open a PR for this one change if that's ok?

[2020-06-17 14:18] keithamus commented on #1321
Yes! Please do so!

[2020-06-23 15:41] marvin1up opened #1350 "Update README.md for apps/api/fhir and utils/lambda/fhirinsert to describe how to deploy R4 versions"
Add a section

# Deploy R4 Lambda

And describe the required environment to deploy the R4 FHIR server as a lambda, and the FHIRInsert lambda as an R4 fhirinsert lambda.

[2020-06-23 15:42] #1350 closed

[2020-07-07 21:52] clar-cmp opened #1352 "Allow configuring inspection depth"
Right now, pretty-printing of objects is hard-coded to stop at a depth of 2. There already is a configuration of the truncation threshold for the length of the string via `config.truncateThreshold`, but this depth of 2 cannot be configured; even with `config.truncateThreshold = 0`, objects will not be printed beyond a depth of 2 properties.

It would be nice to be able to configure this (or disabl

[2020-07-13 13:36] megakoresh commented on #1300
Yes, can confirm on 4.2.0 the docs are misleading. Nested inclusion of a subset does not work.

[2020-07-14 18:40] brutalcrozt commented on #1345
hmmm, is it a bug?
I will try to reproduce this one on my next free time

[2020-07-28 21:14] ThisIsMissEm opened #1356 "expect().to.deep.equal fails to handle arrays vs undefined"
Given the code:

[code]

The result is a failure and the output is:

[code]

Whilst the failure is correct, the output should be:

[code]

This behaviour had me very confused as I was doing an array concatenation on the code that generated the value for the scopes property of the expecting object, and I thought I'd done something wrong and somehow concatenated undefined into the `scopes` array, bu

[2020-07-29 09:13] keithamus commented on #1356
Hey @ThisIsMissEm thanks for the issue!

The `-`/`+` prefixes lead me to believe you're looking at the output from a test failure using Mocha, is this the case?

Chai doesn't actually do the diffing, it raises an `AssertionError` with `expected` and `actual` properties. Test runners like `mocha` are then supposed to output a diff based on those properties.

In the next release of Chai we're going

[2020-07-29 09:13] #1356 closed

[2020-07-29 10:24] ThisIsMissEm commented on #1356
Okay, yeah, looks like it was an issue in mocha... apparently when it transforms the `actual` and `expected` properties into the diff, it uses a stringify method which results in `undefined` being printed as `[undefined]` — https://github.com/mochajs/mocha/blob/ad03d2972deba18a7a214324fbd73cb14bbe0d79/lib/utils.js#L241

[2020-08-04 23:10] leonleo997 commented on #887
any progress in this @keithamus ?

[2020-08-18 15:16] JBaczuk opened #1357 "Does not detect RangeError"
Case:

[code]

Expected: both tests pass

Actual:

[code]

I see there is a `check-error` library, is it required in order to detect `RangeErrors`?

[2020-08-18 15:26] JBaczuk commented on #1357
Potential answer?

https://github.com/chaijs/chai/issues/1175#issuecomment-407477330

[2020-08-19 16:12] mirrorkeydev commented on #1024
This isn't quite what OP was asking for, but in the spirit of contributing workarounds, here's what I came up with:
[code]
This requires you to test the validity of the entire array, but that happened to work for my use case. This could also be factored out into a helper function:
[code]

To be more in line with what OP is asking, I suppose you could also do something like:
[code]

Which could be

[2020-08-24 12:37] derMart opened #1358 "assert.deepEqual / expect().to.deep.equal incorrect with Symbols as keys"
consider this:
[code]
I would expect both variants to fail, but they pass and do not throw an Error.
Using chai 4.2.0

The [documentation](https://www.chaijs.com/api/assert/#method_deepequal) does not state anything about this behaviour.
Is this working as intended or a bug?

[2020-08-31 11:45] luxferresum opened #1359 "support native named import"
with modules being implemented native in `node` it would be nice to be able to do `import { expect } from 'chai';`. Currently this is not supported. Only `import chai from 'chai'` works.

[2020-09-01 05:36] CoderFF opened #1360 "expect().should should warn"
I think, this is a good idea to warn because when someone types lots of ordinary `.should` assertions

[code]

and then suddenly they need to insert `expect()` assertion, it's easy to automatically type

`expect(message.text).should.be.equal('test')`

instead of

`expect(message.text).to.be.equal('test')`

When this happens, the error looks like this:

`AssertionError: expected { Object (__flags)

[2020-09-09 15:42] adityaguru149 opened #1362 "Verbose report on expectation failure"
I have a service that when provided a list of ids does some processing on them, if one/some of them fails the service continues with processing the rest and sets an "errors" array which is then returned.

I test the positive scenario by -
[code]
When the test fails, it just reports
"expected [ Array(1) ] to not exist" and stacktrace

This should be more verbose and it should also report `JSON.stri

[2020-09-18 19:16] amir-arad opened #1363 ".within inaccuracy"
Hi

I have the following check:
[code]
fail with :

`AssertionError: expected -999999.75 to be within -999999.75..-999999.875`

[2020-09-18 19:40] #1363 closed

[2020-09-23 20:32] vpillinger commented on #1328
You probably have chai-things installed which is not compatible with Chai 4.

[2020-09-23 22:58] jasonswearingen commented on #1121
@meeber posts the solution.   specifically, if you are using ```es-module``` style imports you **MUST** call chai things like:

[code]

[2020-09-25 18:08] spenserblack commented on #1343
[`.not` negates ***all*** following assertions](https://www.chaijs.com/api/bdd/#method_not).
Basically, `expect(1).not.null.and.not.undefined.and.above(0);` seems to be the same as `expect(1).not.above(0).and.null.and.undefined`. I would recommend `expect(1).to.be.a('number').and.above(0)`, because `a('number`)` will assert that the value is not `null` or `undefined`.

I stumbled on this issue loo

[2020-10-01 14:27] eps1lon commented on #72
`to.include` works exactly like you want:

-- https://www.chaijs.com/api/bdd/#includeval-msg

[2020-10-07 10:49] medikoo opened #1364 ""to.not.have.key(key)" produces unexpected results"
Following test case passes

[code]

That doesn't seem expected.

Repl.it: https://repl.it/@medikoo/chai-not-have-keys-issue#index.js

[2020-10-30 15:38] andrewminer commented on #1292
I'm running into the same problem with the `throws` check.  For example, if I start with this function:
[code]

The following assertion *will not* pass, claiming that no exception was thrown:

[code]

While this *will* pass, even though it's basically testing the same thing:

[code]

[2020-11-05 06:58] paulinuk opened #1366 "Ignore property with list type"
I am using the DeepEqual to test if the results of a test match my expected output.

I do the comparison simply as

``results.ShouldDeepEqual(expected);``

However, I don't know how to ignore a property within my list type

The type I am deep comparing contains a list. The data type held within this list contains a Guid property Id which I want to ignore, as well as a date.

Ignoring top level pro

[2020-11-07 14:39] frosas commented on #644
For those considering Sinon, you probably want to use [sinon.assert.match()](https://sinonjs.org/releases/v9.2.1/assertions/#sinonassertmatchactual-expectation)

[2020-11-10 10:03] alfonso-presa commented on #1202
I was looking for this functionality and as chai didn't offer it, I created a wrapper as commented by @raosaqib. You could give it a try if you need soft assertions: https://github.com/alfonso-presa/soft-assert

[2020-11-18 08:25] sebamarynissen commented on #1359
@luxferresum This is functionality was added in #1340, but unfortunately no new version on npm has been published yet. You can circumvent this by requiring chai as
[code]

[2020-12-08 15:09] vaasav-kumar opened #1367 "how to check component methods calledOnce"
Your document is not clear of testing vue component methods.<br>
I need to check how many times a component method has been called (or) need to check whether the method has been called or not.

[2020-12-10 08:48] sebamarynissen commented on #1367
Have a look at [chai-spies](https://www.npmjs.com/package/chai-spies) for this. It's a plugin which allows you to do something like this:
[code]

[2020-12-17 16:05] OmarMorales71 commented on #1364
@medikoo Hello, Can I work on this issue? That test case shouldn't pass, right?

[2020-12-17 16:06] medikoo commented on #1364
IMO it definitely should not (but I'm not a maintainer of this project)

[2020-12-17 16:11] OmarMorales71 commented on #1364
@keithamus Hello, is that an issue or the behavior of this test is expected? Can I work on this?

[2020-12-23 03:29] mrdulin opened #1368 "Using deep.members to compare two error object arrays does not work"
Reproduce code: https://runkit.com/embed/vnc5o0xboic8

But it works when I use [deep-eql](https://github.com/chaijs/deep-eql) package directly, code: https://runkit.com/embed/p74ljbrttuxq

Does `chai` use `deep-eql`? If it does, is this a bug?

[2020-12-31 17:47] agrohs commented on #89
Why is this issue closed??

[2021-01-10 22:04] rulatir commented on #655
I'd like something like `.that.passes(subject => { /* perform chai assertions here */ })`, where the body of the callback is basically nested testcase code that can perform chai assertions.

Alternatively it would be nice if the whole assertion handling logic could be publicly invokeable:

[code]

[2021-01-10 22:28] rulatir commented on #655
This issue is a feature request. The feature is not implemented. The workarounds offered are unsatisfactory. Neither a consensus was reached to the effect that the feature should not be implemented, nor was an überboss's edict to that effect issued. Why is the issue closed?

[2021-01-11 11:19] sebamarynissen opened #1369 "Publish new version on npm"
I was wondering whether it would be possible to publish a new version on npm. As the Node world is slowly shifting towards native esm, it would be nice to have
[code]
but the [last version on npm](https://www.npmjs.com/package/chai) is from 2 years ago.

The functionality has already been added and merged into master (#1340), so unless I'm mistaken, I don't think there's anything holding it back.

[2021-01-12 04:59] giltayar commented on #1369
I saw that it was merged, and was wondering why it wasn't yet in the released. I am working on a new (large) codebase that is totally on the ESM, and having to write

[code]

is definitely a thorn in my side. I would love a new release based on my ESM entry points.

[2021-01-12 06:31] sebamarynissen commented on #1369
In another project that is also completely esm I got around it with
[code]
and then write the functionality manually in that `chai.js` file. It's only really viable though if all your tests are in a single folder. In my other project this is not the case and would result in creating this `chai.js` file in every test directory.

[2021-01-18 12:32] mstmustisnt commented on #1054
@janlukasschroeder thank you, your advice helped me a lot!

[2021-01-18 12:47] DenyVeyten opened #1370 "Errors metadata testing issues"
[code]

returns "object tested must be an array, an object, or a string, but error given" (assuming updated error message for the latest chai version)

While considering this issue, I would appreciate a workaround to test data for error objects in form:
[code]

[2021-01-28 06:11] zak100 opened #1371 "Can't install Chai on Ubuntu 18.04: found 1 low severity vulnerability"
Hi,
I am not able to install chai. I am trying following:
`$ npm install chai`

But I am getting the message:

`$ cat package.json`
[code]

[2021-02-02 08:38] Sednaoui commented on #1054
For those who do not want to compare objects using inspect, you can instead use lodash method isEqual.

[code]

[2021-02-03 18:01] mattbishop commented on #1195
FYI, Mocha just merged support for bigint into their stringify() function: https://github.com/mochajs/mocha/pull/4112

[2021-02-04 11:07] #1241 closed

[2021-02-04 11:08] #1285 closed

[2021-02-04 11:10] #1225 closed

[2021-02-04 11:13] keithamus commented on #1371
These are just warnings. It has installed fine. You need to add `--save-dev` to save it to your `package.json`; e.g. `npm i --save-dev chai`.

I'll close this, as things are working as intended.

[2021-02-04 11:13] #1371 closed

[2021-02-04 11:14] keithamus commented on #1369
4.3.0 has been released.

[2021-02-04 11:14] #1369 closed

[2021-02-04 11:14] AviVahl opened #1372 "[4.3.0] releases page got the year wrong"
https://github.com/chaijs/chai/releases/tag/4.3.0
You mean 2021? :)
Let us not speak of 2020 ever again.

[2021-02-04 11:14] AviVahl commented on #1372
FYI @lucasfcosta

[2021-02-04 11:15] keithamus commented on #1359
4.3.0 has been released.

[2021-02-04 11:15] #1359 closed

[2021-02-04 11:15] keithamus commented on #1372
Thanks! Fixed

[2021-02-04 11:15] #1372 closed

[2021-02-04 11:15] #1318 closed

[2021-02-04 11:15] #1327 closed

[2021-02-04 13:56] sebamarynissen commented on #1369
Thanks a lot!

[2021-02-05 04:52] zak100 commented on #1371
Hi,
I am still getting the same error. I tried:$ npm i --save-dev chai
npm WARN zeppelin@1.0.0 No repository field.

+ chai@4.3.0
updated 1 package and audited 456 packages in 2.324s

59 packages are looking for funding
  run `npm fund` for details

found 1 low severity vulnerability
  run `npm audit fix` to fix them, or `npm audit` for details

   ╭────────────────────────────────────────────────

[2021-02-05 12:44] kellyselden opened #1373 "Does this project use SemVer?"
I just noticed the new release was not v4.0.0, even though multiple node versions were dropped from support. Was this a mistake, or should users be warned in the README to not use carats when using chai (ex. `"chai": "^4.2.0"` will cause problems for people)? Apologies if this was answered before.

[2021-02-05 13:36] keithamus commented on #1373
They were dropped from CI as it’s too difficult to run them in CI. We’ll still answer and resolve bug reports for them if we get them.

[2021-02-05 15:05] kellyselden commented on #1373
Thanks for clearing that up. Perhaps https://github.com/chaijs/chai/blob/de12e401bc39534ae4f1ff07fd33320a391dca08/package.json#L40 should be changed to signify which node versions are still supported?

[2021-02-05 15:07] keithamus commented on #1373
Yes you're right, it should! PRs welcome!

[2021-02-05 17:06] #1373 closed

[2021-02-14 08:05] siddharthvp commented on #1360
Sounds like a task for https://github.com/turbo87/eslint-plugin-chai-expect.

[2021-02-19 19:41] GABAnich commented on #1333
The same

[2021-03-02 04:54] rbruckheimer opened #1375 "chai.Assertion is no longer exported"
index.mjs is not exporting Assertion.  It needs a line:
`export const Assertion = chai.Assertion;`
I discovered this when attempting to upgrade from 4.2.0 to 4.3.0.

I also noticed that the code in the 4.3.0 tag here on GitHub does not match what's on npm.  npm seems to be more like the master branch.  Can you check it out please?

[2021-03-02 10:30] JanneKiiskila opened #1376 "Update pathval to 1.1.1 to fix vulnerability CVE-2020-7751"
There is (a somewhat arguable) case for a security incident - CVE-2020-7751, which has been fixed to pathval via [pathval PR#60](https://github.com/chaijs/pathval/pull/60). This fix should be pulled in.

[2021-03-02 10:32] JanneKiiskila commented on #1376
PR opened - https://github.com/chaijs/chai/pull/1377

[2021-03-02 18:17] JanneKiiskila commented on #1376
This can be closed. @keithamus  - any idea when this could hit a tagged release?

[2021-03-02 18:17] keithamus commented on #1376
Working on it now

[2021-03-02 18:17] #1376 closed

[2021-03-02 18:25] JanneKiiskila commented on #1376
Thanks, that was amazingly quick!  Superb!

[2021-03-02 18:25] keithamus commented on #1376
This has been released as `4.3.1`

[2021-03-02 18:31] keithamus commented on #1375
Can you please confirm if this problem still exists in the 4.3.1 release? Thanks

[2021-03-02 18:55] rbruckheimer commented on #1375
The code now matches between the commit 8a246661566227db3d37019bb0bab3bbcdf45841 (4.3.1 tag) and npm.
However, the export issue still exists.

[2021-03-02 19:04] keithamus commented on #1375
Would you like to submit a PR for the `4.x.x` branch please?

[2021-03-02 23:13] rbruckheimer commented on #1375
https://github.com/chaijs/chai/pull/1378

[2021-03-03 07:42] lnewson opened #1379 "Chai 4.3.x or higher doesn't run on IE 11"
Chai 4.3 introduced a regression via chaijs/chai#1334 that causes chai to throw a syntax error on IE 11. This is because it's using an arrow function [here](https://github.com/chaijs/chai/blob/main/lib/chai/core/assertions.js#L3181) which isn't supported on IE 11.

![image](https://user-images.githubusercontent.com/1575550/109772161-67bf9e00-7c49-11eb-8c8e-9f1eee2dc15b.png)

This is also causing t

[2021-03-03 14:33] Trott commented on #1379
If I'm not mistaken, the cited commit only appears in Chai 4.3.1. In my tests, 4.3.0 worked for IE 11 but 4.3.1 does not. So perhaps the title of the issue should say `4.3.1` rather than 4.3.x`.

[2021-03-03 14:35] rbruckheimer commented on #1379
There was identified an inconsistency between what's in GitHub in 4.3.0 and what's on npm.  npm had some changes from master in it, possibly this arrow function as well.

[2021-03-03 17:47] rtfx-glob opened #1381 "Chai-http [POST] does not allow to send an Array on bodyParameters (API Testing & Javascript)"
Chai-http version: "4.3.0"

I have found this kind of weird behavior in my test case.

Let's recreate the scenario

I do have 2 classes:

API.ts -> which refers to the class where I'm creating the requests.

API-op.ts -> which refers to the class where I'm validating through asserts, expects etc.

Context: There are some dependencies between the methods. I mean, If I want to publish I need first a

[2021-03-03 18:18] keithamus commented on #1379
Fixed in `4.3.2`.

Thanks everyone!

[2021-03-03 18:18] #1379 closed

[2021-03-03 18:22] keithamus commented on #1375
Fixed in `4.3.3`

[2021-03-03 18:22] #1375 closed

[2021-03-03 18:57] rbruckheimer commented on #1375
Keith, the 4.3.3 release note says `AssertionError` is reintroduced, but it's really `Assertion` being reintroduced.  If you can fix it it will help others find the fixed version.

[2021-03-03 21:16] keithamus commented on #1375
Oops fixed!

[2021-03-11 11:50] AbdulRafaySiddiqui opened #1382 "Expect fails while comparing BigNumber"
Can anyone tell, why both of the following expects are failing
[code]

![](https://user-images.githubusercontent.com/46793902/110556829-1fc8db80-8161-11eb-814d-ff382eb4ff18.png)

[2021-03-11 16:14] vapier commented on #1382
i think #1365 fixed it but there isn't interest in fixing the problem in chai for some reason

[2021-03-11 18:21] AbdulRafaySiddiqui commented on #1382
It's been 5 months since you posted the PR, but still no fix, sad :(
It is better to at least fix the problem now, rather than wait to integrate loupe at some later time.

[2021-03-11 18:38] vapier commented on #1382
i'd understand if the overhaul was coming soon and no new release were being made, but dev/fixes have continued in the branch, and new releases cut.  so it seems odd that @keithamus prefers to leave chai broken.

[2021-03-11 18:51] AbdulRafaySiddiqui commented on #1382
yeah, the latest release was 8 days ago, could have added your PR, even it wasn't that long, just a couple lines of code.

[2021-03-12 12:00] keithamus commented on #1382
If you want to re-raise it on the `4.x.x` branch I'll release it.

[2021-03-12 15:58] vapier commented on #1382
@AbdulRafaySiddiqui can you give #1383 a try and see if it fixes your problems ?

[2021-03-12 16:51] #1382 closed

[2021-03-12 16:53] keithamus commented on #1382
On second glance this is using a custom `BigNumber` constructor.

@AbdulRafaySiddiqui you should consider using `.deep.equal` instead of `equals`. `BigNumber` is not a primitive so referential equality will not work on it two instances of `BigNumber`

[2021-03-12 17:02] AbdulRafaySiddiqui commented on #1382
Thanks, @keithamus , I checked, using `.deep.equal` it works, but not just equal.
I was following waffle's [docs](https://ethereum-waffle.readthedocs.io/en/latest/matchers.html#bignumbers) , so it's wrong there I guess.

[2021-03-12 17:03] keithamus commented on #1382
Looks like it overrides the matchers. Do you have the following added:

[code]

If you don't it won't work

[2021-03-12 17:05] AbdulRafaySiddiqui commented on #1382
No, I don't have that, I was following [https://hardhat.org/getting-started/#testing-your-contracts](hardhat docs)

[2021-03-12 17:06] AbdulRafaySiddiqui commented on #1382
This is my exact code.

[2021-03-12 17:07] keithamus commented on #1382
I'm not familiar with any of these APIs so I can't tell you what you need to do but the _default_ behaviour of Chai's `.equals` operator is the same as `===`.

[2021-03-12 17:10] AbdulRafaySiddiqui commented on #1382
Hmm, that's the reason, Anyways thanks for your help, I can just use the `.deep.equal` it's fine.

[2021-03-21 17:09] machineghost commented on #1232
So ... basically you claimed back at the start of 2019 that Chai would support modern JS.  It's now March of 2021 ... maybe it's time to admit you're not going to support modern JS?  Or at least provide some kind of status update?

[2021-04-04 23:16] matthewjablack commented on #430
It seems this is still an issue.

This is the current logic for testing `throw`

[code]

[2021-04-04 23:21] matthewjablack commented on #430
It seems this is still an issue.

This is the current logic for testing `throw`

https://github.com/chaijs/chai/blob/main/test/expect.js#L3028

`Line 3028`
[code]
...
`Line 3056`
[code]

---

However, if you change the code to use a different instance of the error thrown like so:

[code]
...
[code]

the following error and diff are shown

[code]

[2021-04-08 20:38] kputh opened #1385 "Improve API documentation"
Chai's AP reference (https://www.chaijs.com/api/bdd/ and https://www.chaijs.com/api/assert/) probably contains everything you need to know on how to write test cases using Chai. But if you're not familiar with Chai, it's difficult to figure you what it can do, what it cannot do, and how do to it idiomatically. Any of the following suggestion can improve the reference's usefullness:

* Group, tag o

[2021-04-11 15:58] sittingbool commented on #1368
Having the same issue. Comparing objects with .eql fails but if I compare the JSON its the same. Can't figure out why.

The Objects being:

[code]

[2021-04-22 07:29] sandra-ouadghiri opened #1386 "Chai can't assert on strings containing zalgo"
## Usecase
I assert on a string non being empty.

### This works
noZalgoString = 'Héhé'
Test this is not empty -> OK (not empty).

### This doesn't work
zalgoString = 'Héhé ȯ̵̮̕!'
Test this is not empty -> KO
Error:
_.empty was passed non-string primitive 29_

JSYK my string is actually 'Héhé «ταБЬℓσ» делаешь 你好 食え 오빠 ポイ: 1<2 & 4+1>3, 20% ಠ_ಠ 🍆 👩🏿 ȯ̵̮̕!' and everything is ok except zalgo. So you

[2021-04-22 07:35] #1386 closed

[2021-04-22 15:41] Manish3323 opened #1387 "[NODE 16] deprecation warning on exports field"
Error :
<img width="1252" alt="Screenshot 2021-04-22 at 9 09 40 PM" src="https://user-images.githubusercontent.com/16453816/115743231-19a85a80-a3af-11eb-83c1-6962c9fd30be.png">

To reproduce :
Update Node to version 16

The particular entry of package.json `exports` field
[code]
needs to be replaced with
[code]

[2021-04-27 09:01] TeNNoX commented on #1352
There is an monkey-patch answer describing how to override the formatting method:
https://stackoverflow.com/a/28652362/1633985

which I also put into an npm package (yes, I'm a bit ashamed myself):
https://github.com/TeNNoX/chai-formatter-monkeypatch

[2021-04-29 12:53] stevemorin opened #1388 "DELETE ME"

[2021-04-29 12:53] #1388 closed

[2021-05-01 16:20] egebircan opened #1389 "expect(new Error).to.be.an('error') does not work"
`it('test case', () => {
  expect(new Error).to.be.an('error');
})`

When the code above is executed, "AssertionError: expected [Error] to be an error" is thrown.

According to the [docs](https://www.chaijs.com/api/bdd/) this behavior is not natural.

[2021-05-08 18:06] 1aerostorm commented on #1333
I'm also faced this issue.
And it is a bug, because partial match can be performed with RegExp, so case with string should check exact match.

[2021-05-08 19:20] 1aerostorm opened #1390 "lengthOf - comparing lengths of 2 arrays/objects is discouraging, lengthsEqual needed"
This code:
[code]
could be rewrote to:
[code]
And it is short and graceful.

---

But this code:
[code]
could be rewrote only to:
[code]
which occasionally causes mistakes with omitted or excessive ".length".

More consistent way is to rewrite it to:
[code]

[2021-05-10 06:12] gullerya opened #1391 "consuming chai as ES6 module in browser"
I'm trying to use `chai` as ES6 module in browser environment directly (no babel and no bundler) and it doesn't work, I must be missing something.

What I've tried:
The only syntax that doesn't throw is this:
[code]
BUT the `chai` object is absolutely empty.

The `index.mjs` looked promising too, but it in itself does imports from `index.js` which is already non-ES6 module compliant (`module.expor

[2021-05-10 20:45] gullerya commented on #1391
Okay, I got the point, the intended usage seemingly is to perform 'side-effect' import and then just consume `chai` from the global scope.

Personally, it looks a bit non-standard to me, in context of ES6 modules, and seemingly you've also envision it to work more importish like, at least looking onto the `index.mjs`.

Do you plan to expose a non-global-scope approach for a browsers?

Right now I'

[2021-05-14 19:09] ElvenMonky commented on #1385
I am particularly missing parameter definition for the expect function itself. Documentation only barely mentions “A custom error message can be given as the second argument to expect.” but even to find this you need to dive deep into the documentation.

[2021-05-18 22:25] martineizayaga commented on #1389
The code you wrote @egebircan works for me.

[2021-05-20 19:56] jallmer opened #1392 "Thrown exception not catchable?"
Hi,

within a stream as part of a pipeline, I throw an error and would like to test whether the error was thrown under the circumstances I expect it to be thrown. I am sure that my code throws the error, but I cannot catch it within the unit test.
Wrapping everything in try ... catch or using expect(named_func).to.throw("..."); also doesn't kick in. This is odd and I am starting to think that ther

[2021-05-20 21:49] Adrosar opened #1393 "isObject(global.console) in Node 14.17.0 is equal to FALSE"
**Case:**
[code]

**Cause:**
[code]

[2021-05-20 21:51] gullerya opened #1394 "extending 'assert' assertion flavor"
There is a documentation of extending the `expect` assertion APIs.

Is there a way (and documentation) how to plugin custom assertions into `assert` API?

[2021-05-21 10:43] #1394 closed

[2021-05-21 10:43] #1392 closed

[2021-05-25 23:25] Alhadis commented on #1387
I think you mean

[code]

[2021-05-28 12:15] pcorpet commented on #1228
It seems that [Loupe v2](https://github.com/chaijs/loupe/releases) is out, what's the next step @keithamus ?

[2021-05-28 12:28] keithamus commented on #1228
The next step would be to somehow integrate it into the 4.x branch. It might be worth first adding it to the main branch - which will allow for breaking changes - then we can assess what breakages need to be smoothed over for 4.x

[2021-05-28 13:32] flaambe commented on #1228
I tried to integrate the loup into chai, but unfortunately now I do not have enough time for this

[2021-05-29 04:16] zak100 commented on #1371
Hi,
I am still getting the same problem:
:~$ npm install chai

changed 1 package, and audited 456 packages in 3s

44 packages are looking for funding
  run `npm fund` for details

21 high severity vulnerabilities

To address issues that do not require attention, run:
  npm audit fix

Some issues need review, and may require choosing
a different dependency.

Run `npm audit` for details.
zulfi@lc253

[2021-06-07 21:04] pcorpet commented on #1228
I've created a PR, please help me there to understand which changes are OK, and which ones are not

[2021-06-09 10:19] mmomtchev opened #1402 "Using `done` callbacks when chai-as-promised is present leads to horrible silent errors"
I don't know if this is supported or not, but it causes a very vicious silent error which causes the rest of the unit tests to not run and **mocha** to immediately exit with 0, reporting a global success - which means that automated unit testing doesn't report any error

It is somewhat random, depending on the Node version - I have a repo that can reproduce it with 100% probability on Node 14 on U

[2021-06-09 11:45] mmomtchev commented on #1402
I understood the underlying problem that was causing it, I will try to make a simple repro

[2021-06-09 13:48] mmomtchev commented on #1402
Ok, I leave it to you how to handle this - it is an error that is impossible to produce using only JS.

Basically `getAsync` is a C++ method with a callback. It encounters an error and then places an exception on the stack, but then doesn't handle correctly the error condition and calls the JS callback - which in this case is provided by Node.js `promisify`. The exception stays on the stack and it

[2021-06-10 01:19] sukrosono commented on #1402
Hi thanks for the issue, please include the repro. It might the internal team want to dive right away when this is not intended. Or this just specific to node v.14. You also could provide more detail about your environment, like chai and mocha version.

[2021-06-11 09:59] mmomtchev commented on #1402
@sukrosono Thanks for your reply, I can probably try to make a small Node.js addon that does this, all that is needed is a C++ function that accepts an `(e, r)` callback and does:
[code]
and then use the above construct in chai/mocha with a `done` - mocha will immediately exit and report a success.

The problem is that, from mocha/chai standpoint, this is an abnormal V8 behavior since, by returnin

[2021-06-12 03:40] shivam0x opened #1403 "Comparison of bignumber in closeTo & within"
Hi team,

I'm using chai to test my smart contracts and all the numbers returned from contracts are BigNumber. Now there are a lot of usecases where I need to use `closeTo` & `within` but both of there uses number and does not support BigNumber.
I tried a lot of ways but none of them worked. So is there a solution for this? TIA

[2021-06-25 10:31] Nikuu971 opened #1404 "Error: getaddrinfo ENOTFOUND with Docker in chai test"
Hello i have a issue with my project. I made a REST API project in express, i have dockerize all my project (the rest api in express, the database in mariadb and phpmyadmin) i try to test the endpoint of my rest api but i have this error. All the project work perfectly, my docker is up, my api is working, i have tested my posts, my gets, in postman and my browser it's  work. But in my chai test i

[2021-06-25 21:17] jojenki opened #1405 "Consider a new, informative page in Chai's documentation for working with Errors"
Simple working example:

[code]

I've been working on this for a couple of days now and have seen some resources / hints regarding Chai basically making the decision that two Errors with different call-stacks are evaluated as different, even if they are the same type and have the same message. So, I think that's what's going on here.

My ask is that the team create some dedicated documentation tha

[2021-06-27 18:23] #1228 closed

[2021-07-01 07:23] davidfilat opened #1406 "(node:23219) [DEP0148] DeprecationWarning: Use of deprecated folder mapping "./" in the "exports" field module resolution of the package"
[code]

<img width="1587" alt="CleanShot 2021-07-01 at 10 21 54@2x" src="https://user-images.githubusercontent.com/1475163/124083126-2eac0480-da56-11eb-9228-3a0ca685eccd.png">

[2021-07-01 16:10] dakotacookenmaster commented on #259
This was very helpful! I can't believe I didn't think of something so simple. Thank you so much!

[2021-07-12 16:24] spenserblack commented on #1364
Sorry for commenting on a somewhat old issue, but I just found that the documentation for `.keys` (which `.key` is an alias for), says

So I think it should you should use
[code]

[2021-07-28 14:58] fulldecent opened #1408 "Make expect(false) work as a failing assertion"
If there is going to be magic like `expect.to.be.true` (without the `()` on true), then it is surprising that `expect(false)` is not equivalent to `expect(false).to.equal(true)`.

Your test will pass if you have `expect(false)` inside. And this is dangerous.

[2021-08-01 19:00] fulldecent opened #1409 "Define BDD when used in user documentation"
Some people don't know what that means.

[2021-08-20 11:32] Rest11 commented on #1054
it doesn't work

[2021-08-20 16:44] Sednaoui commented on #1054
@Rest11 have you used a Sequelize symbol?

[2021-09-10 01:32] sukrosono commented on #1408
Yes, priorly `expect(evaluation)` is more dangerous, let's hear another input.

[2021-09-10 07:22] sukrosono commented on #1409
Surely, could you participate on https://github.com/chaijs/chai/discussions/1399 ?

If you had cristal clear suggestions to define it, but I would take @lucasfcosta input first.

or it could be that it's already on the documentation elsewhere.

[2021-09-19 19:08] MakariukVl opened #1414 "chai doesn't catch an error has thrown"
this is my test
![test16](https://user-images.githubusercontent.com/88854360/133939916-4613ca47-bd44-4ba0-a155-3c4e05297948.PNG)

which fails with the message:

[code]

but other similar test passed:

![test15](https://user-images.githubusercontent.com/88854360/133939930-8dfb8daa-2dbe-45d3-a323-50fed9d91c51.PNG)

I couldn't find any explanations / solutions / workarounds for this, so I think it's

[2021-09-22 23:38] bompus commented on #94
I've made a quick helper to assist with this, that doesn't involve hooking into beforeEach/afterEach. I only use it where I need it.

In the example, it is wired up to `expect()` in the outer scope. It's pretty basic in that it would only work with the single `expect()` function from either npm expect or chai's expect, but it works for my case so I'd figure it was worth sharing.

[code]

[code]

[2021-09-24 15:13] vsluzky23 commented on #615
Something's wrong with my using of regex :-(
It can't find a match even with an example from the package.
[code]
gives
[code]
Please help

[2021-09-27 18:22] nilsreichardt commented on #1121
This is also working for me:
[code]

[2021-10-01 09:47] Elias-Graf opened #1415 "URLSearchParams deep equal not working"
I'm trying to test if my `URLSearchParams` are correct with the `to.deep.equal` option but it returns `true` (is equal) when it shouldn't.

See the running code at https://stackblitz.com/edit/node-qx7qra?file=index.test.js

Let's assume that we're testing this function:
[code]

If I write:

[code]

It correctly notices that the strings are not the same, good. But as soon as I remove the `toString`

[2021-10-04 20:46] koddsson commented on #1415
Hey @Elias-Graf; this is probably an issue with https://github.com/chaijs/deep-eql. I think it doesn't account for `URLSearchParams`. Investigating the issue in chai and then making a PR to fix the issue either in chai or deep-eql is your best bet. We are open to pull requests and are really happy to have new contributors to chai.

[2021-10-04 20:48] koddsson commented on #1414
@MakariukVl Can you provide a minimum viable code that reproduces the issue?

[2021-10-04 20:50] koddsson commented on #1409
This is a great suggestion! I think we'd welcome pull requests to better define BDD.

[2021-10-04 21:07] koddsson commented on #1405
Hey @jojenki; Error equality is something that seems to be not implemented in chai right now due to some issues that are listed in https://github.com/chaijs/chai/issues/1065. Depending on your situation, you might want to assert on the error properties such as `name` and `message` rather than asserting the equality of the error objects themselves.

For the question of documentation, I'm not quite

[2021-10-05 09:44] Elias-Graf commented on #1415
@koddsson Hi! I see if I can make some time to dive into this. Most of the time it's relatively difficult to dive into an existing project. The thing is that as far as I know, everything in JavaScript is an object. So I always assumed everything could be compared in the same way. Note that I'm talking about equality, not comparing pointers.

[2021-10-18 21:41] elibarzilay opened #1425 "Bad comments in `chai.js` (and elsewhere)"
Looks like #451 switched many docstring comments from `/**` to `/*!` -- where the latter are comments that are not dropped by minifies / bundlers / etc, and are mainly intended for copyright notices.  As a result, having chai included in a bundle that esbuild generates has a whole bunch of useless comments at the end (see below).  Shouldn't these non-copyright comments use `/**`?

[code]

[2021-10-21 05:26] marek-siemieniuk-morawski opened #1426 "Undefined `this` in overwriteMethod"
Hi,
I'm writing a custom chai.js plugin and I'm stuck at some point. For some reason, `this` is undefined in `overwriteMethod` and I'm wondering if I'm doing something wrong

[code]

I was expecting `this` will have a type of `Chai.AssertionStatic` which even IDE tells me. But it is not. At the same time, in a library `chai-as-promised` it works as expected. Example: https://github.com/domenic/cha

[2021-11-01 11:51] mmomtchev commented on #1402
@sukrosono I think I found the problem: https://github.com/nodejs/node/issues/29355

[2021-11-09 07:15] egebircan commented on #1389
You are right @martineizayaga. I tested it again and it works. I guess there was some kind of an environment issue on my local machine at that moment. Thanks for pointing out.

[2021-11-09 07:15] #1389 closed

[2021-12-06 09:45] fncolon opened #1428 "[Feature Request] dotNotation object retrieve in `property()`"
allow using dot notation instead string to receive object.

use this

[code]

alternative of

[code]

[2021-12-08 17:26] chichke commented on #1403
Same here :/

[2021-12-09 18:06] Kongpc2535 opened #1429 "Kongpc2535"

[2021-12-09 20:51] #1429 closed

[2021-12-13 13:56] pimterry commented on #662
Just ran into this issue - it was fixed a while back, and can be closed.

Loupe is already at v2.3 in Chai, and the commented out tests described above are now uncommented and passing with useful output for Maps & Sets: https://github.com/chaijs/chai/blob/a8359d3d15779a23a7957a4c52539d48de2763e0/test/expect.js#L564-L605

[2021-12-13 14:27] keithamus commented on #662
Awesome thanks for the update @pimterry

[2021-12-13 14:27] #662 closed

[2021-12-16 12:11] sidwebworks opened #1430 "Documentation website is down"
https://chaijs.com/

Visiting this page shows something like a domain expiry issue.

[2021-12-16 12:12] sidwebworks commented on #1430
![image](https://user-images.githubusercontent.com/58144379/146369943-8c6e9d2c-1f60-47b3-bf00-fbafad1a60a5.png)

[2021-12-16 13:05] keithamus commented on #1430
Thanks for pointing this out @sidwebworks. We're already tracking this in https://github.com/chaijs/chaijs.github.io/issues/200 so I'll close this one out.

[2021-12-16 13:05] #1430 closed

[2021-12-16 13:54] lamrisr opened #1431 "website seems to be down"
Hi,

I'm trying to view the documentation through the website http://chaijs.com/ but it seems that the domain name has expired this morning.

Did the documentation move somewhere else ?

Thanks for your help.

[2021-12-16 14:05] keithamus commented on #1431
Thanks for pointing this out @lamrisr. We're already tracking this in https://github.com/chaijs/chaijs.github.io/issues/200 so I'll close this one out.

(See also https://github.com/chaijs/chai/issues/1430)

[2021-12-16 14:05] #1431 closed

[2021-12-16 16:55] Maxattax97 opened #1432 "Domain Expired"
Here is a backup for those trying to get back home: https://web.archive.org/web/20211209012933/https://www.chaijs.com/

[2021-12-16 16:58] bhubr commented on #1432
Oops, just stumbled upon the same issue! Thanks.

[2021-12-16 18:21] bhubr commented on #1432
There's also a backup of the docs on GItHub Pages: <https://chaijs.github.io/>

[2021-12-16 18:58] keithamus commented on #1432
Thanks for notifying us @Maxattax97 & @bhubr. We're already tracking this in https://github.com/chaijs/chaijs.github.io/issues/200 so I'll close this one out.

(See also https://github.com/chaijs/chai/issues/1430, #1431)

[2021-12-16 18:58] #1432 closed

[2021-12-16 21:10] brittberwanger opened #1433 "chaijs.com expired"
Thought you'd want to know

[2021-12-16 21:11] evanreichard opened #1434 "Domain Registration Lapsed: chaijs.com"
Not sure where else to contact the team - figured this would be the best place.

[2021-12-16 21:11] evanreichard commented on #1434
Closing. Was beat by 20 seconds :)

[2021-12-16 21:11] #1434 closed

[2021-12-17 02:37] #1428 closed

[2021-12-17 02:38] fncolon commented on #1428
Late response.
Solution: `to.have.nested`

[2021-12-17 07:14] paolocattani opened #1435 "Can't compare arrays with more than 70 elements"
I'm trying to compare deep two array with 75 elements and I found that if lenght > 70 except function return the below error.

[code]

Is there a know upper limit for comparing elements in array ?

![image](https://user-images.githubusercontent.com/30072995/146416897-7c7021f9-d75f-431a-96e8-24daa2eb7cf0.png)

Using n = 70 it work just fine.

[2021-12-17 08:49] nguyenmanhtri commented on #1433
Can't believe nobody have looked into this.

[2021-12-17 10:48] keithamus commented on #1433
Thanks for notifying us @brittberwanger and @nguyenmanhtri. We're already tracking this in https://github.com/chaijs/chaijs.github.io/issues/200 so I'll close this one out.

(See also #1430, #1431, #1432)

[2021-12-17 10:48] #1433 closed

[2021-12-17 11:02] keithamus commented on #1435
Hey @paolocattani thanks for the issue.

The arrays are likely different. There is no bounds to equality pairing, but the threshold for displaying them is cut off at 75 characters (including the `[` and `]`).

If you set `chai.config.truncateThreshold = 1000` it'll display more of them.

I'll close this as there isn't a bug with Chai here. If you disagree let me know and we can re-open and discuss

[2021-12-17 11:02] #1435 closed

[2021-12-17 12:08] ovchinnikov opened #1436 "This domain name expired on 2021-12-16 08:51:55"
https://www.chaijs.com/

[2021-12-17 12:08] #1436 closed

[2021-12-17 15:22] shellscape opened #1437 "Domain Name Expired"
Someone in the org forgot to renew chaijs.com https://news.ycombinator.com/item?id=29592529

[2021-12-17 15:28] smbkr commented on #1437
https://github.com/chaijs/chaijs.github.io/issues/200

[2021-12-17 16:39] keithamus commented on #1437
Thanks for notifying us @shellscape and @smbkr. We're already tracking this in https://github.com/chaijs/chaijs.github.io/issues/200 so I'll close this one out.

(See also #1430, #1431, #1432, #1433, #1434, #1436)

[2021-12-17 16:39] #1437 closed

[2021-12-18 17:57] nykhylsharma opened #1439 "chaijs.com website's lease expired"
The chaijs.com's website is down as the lease for the domain expired. I request you to kindly renew the lease and get the site back up. Not have the access to documentation is an hinderance to make progress. Thanks a ton in advance for resolving it.

[2021-12-18 19:47] keithamus commented on #1439
Thanks for notifying us. It's up and running now and has been for a couple of hours.

I'll close this as it's resolved.

[2021-12-18 19:48] #1439 closed

[2021-12-19 14:26] mercmobily commented on #1300
Is there any plan to make it work?
It's a pretty common use case, where the response has an inner-inner object somewhere and the test needs to check if a subset of properties are there.

OK, maybe not as common as I hope, but... hopefully common enough? :D

[2022-01-03 05:03] RobertSandiford opened #1440 "should.be() / expect().to.be() syntax"
Hi, I am a big fan of chai, I'm using it a lot.

I just wonder if be() syntax has been discussed/considered/rejected? It's the one thing that always bugs me about chai, my brain thinks a.should.be 1 not a.should.equal 1. I'm sure you're aware that Jest uses toBe(), so it also helps with moving between frameworks.

Willing to contribute code if needed.

[2022-01-11 09:23] pallavJha opened #1441 "Checking multiple properties of the same error"
Hello Folks!

This is the test case. I wanted to know if there is a way to check multiple properties of the same error object.

For example,
[code]

This(^) test case results in the following error message:

[code]

But it works correctly if the second assertion is removed.

I was not able to find a way:
- to assert on the multiple properties of an error object, or,
- to access the error directly,

[2022-01-25 14:35] #1387 closed

[2022-01-25 14:35] #1406 closed

[2022-01-26 08:46] AviVahl opened #1447 "[4.3.5] bundling regression due to loupe requiring node's util"
**Steps to reproduce:**
[code]

**Expected result:**
Bundle using latest webpack without errors/warnings (same as 4.3.4).

**Actual result:**
[code]

**Possible solution:**
Specify `"browser": { "util": false }` in `package.json` of `loupe`. which will pass in an empty object at runtime for the bundled library. Then, adjust [this line](https://github.com/chaijs/loupe/blob/v2.3.0/index.js#L34) to s

[2022-01-26 11:27] keithamus commented on #1447
Thanks for filing this @AviVahl. A PR for this would be welcome!

[2022-01-26 11:45] AviVahl commented on #1447
Done: https://github.com/chaijs/loupe/pull/50 :+1:

[2022-01-26 14:43] keithamus commented on #1447
I'll close this as this looks fixed. Tested on a few projects and it installs and compiles fine.

[2022-01-26 15:12] AviVahl commented on #1447
Thank you! ❤️

[2022-01-26 19:58] m-nonna opened #1448 "Fail on npm install because of the older node version"
4.x.x version of chai package has a dependency from ["deep-eql": "^3.0.1"](https://github.com/chaijs/chai/blob/v4.3.6/package.json#L45) which requires the following node versions, which is deprecated: `node: '0.10 || 0.12 || 4 || 5'`. Please see the full error below:
[code]
_I am reporting the bug in this repo because the newer version of `deep-eql` requires `"node": ">=6"`._
_Maybe upgrading `dee

[2022-01-27 11:58] keithamus commented on #1448
Hey @m-nonna thanks for the issue.

[deep-equal@3.0.1 requires Node >= 0.12 or greater](https://github.com/chaijs/deep-eql/blob/v3.0.1/package.json#L87). The full error you have pasted shows the warning is coming from the Karma package:

[code]

Also as this is a warning it should not fail the install. Perhaps there are more logs?

I'll close this for now as this isn't an error from chai from the

[2022-01-27 11:58] #1448 closed

[2022-01-27 22:08] pcorpet commented on #1228
This is not way better now, if I introduce only one change in one value:
[code]

Any idea how to fix?

[2022-02-01 08:11] arv opened #1450 "index.mjs imports invalid module"
The file `index.mjs` is trying to import `index.js`. `index.js` has no exports so you get a `SyntaxError`.

Any chance of publishing a valid ES module version of chai? There are of course alternatives like using @esm-bundle/chai or skypack but it would be nice if the source of truth was using ES modules.

[2022-02-01 10:18] marian-r opened #1451 "IE9+ not supported since 4.3.5 because of loupe"
The official website says Chai supports IE version 9 and above, however out tests started to fail in IE after upgrading Chai to version 4.3.5 or 4.3.6. Tests in IE throw a "Syntax Error" inside `loupe`. Would it be possible to remove this dependency or shall I rather open an issue against `loupe` to fix IE support?

Workaround: Downgrade Chai to 4.3.4.

[2022-02-01 13:02] keithamus commented on #1451
Thanks for reporting @marian-r. I've transferred this to `loupe`. If you could please provide more information that would be helpful.

[2022-02-09 23:26] ddili opened #1452 "Can expect().to.deep.include() return multiple differences?"
Hello,

Is it possible for expect().to.deep.include() to return multiple differences?

Example: `expect({"a": 1, "b": 2}).to.deep.include({"a": 2, "b": 3})`

It does the proper assertion: `AssertionError: expected { a: 2, b: 3 } to have deep property 'a' of 1, but got 2`

But I would also like to know that there is another difference, namely that 'b' is 3 instead of 2. Maybe something like
`Assert

[2022-02-12 13:08] yoshinorin opened #1455 "Error: Cannot find module '/xxxxxxx/node_modules/chai/register-should'"
Hi :)

I'm facing as is the title issue.

## Env & Phenomenon

I confirmed this problem happened in chai `4.2.0`, `4.6.3` and Node.js `12.x`, `14.x`, `16.x`. I do not check other chai and node.js versions.

I'm using chai with mocha and I specified `chai/register-should` in `mocha.rc.yml`.

[code]

Also this problem occur with `mocha spec.js -r chai/register-should ` command.

## Error log

[code]

[2022-02-14 20:58] GCastilho commented on #1455
I'm having the same issue

Another workaround would be:

[code]

[2022-02-25 10:35] camiloh95 commented on #652
Correct me if I am wrong but when I try
[code]
It works, but when I try it with chai assert it does not work. So, what do you mean when you say `deepEqual` is already strict?

[2022-02-25 17:59] snewcomer commented on #1054
https://github.com/chaijs/deep-eql/pull/81

Hi all!  I put up a PR that seems to fix the `deep-eql` package.

[2022-03-04 14:23] mellester commented on #1244
Hello would like to see progress on this issue
They below line does not work
`expect('Today is sunny').to.contain.oneOf(['sunny', 'cloudy'])`

[2022-03-10 14:00] MilanJimi opened #1462 "Comparing deep members between two different unsorted arrays doesn't produce accurate errors"
When using `chai 4.3.4` with `mocha 9.2.1`, I came across a problem when deep matching arrays - My understanding is that `expect().to.have.deep.members()` error message should not depend on whether the arrays are sorted - but it does. Chai will sometimes mismatch members that are present in both expected and actual arrays, logging them as error.

Seems that sorting the array first so that the matc

[2022-03-22 21:54] yjluo96 opened #1463 "npm install chai --save-dev failed"
npm install chai --save-dev failed with following message. Any thought?

ERR!  FetchError: request to http://npm-repo.devops.mhealth.tech/zip-stream/-/zip-stream-1.2.0.tgz failed, reason: connect ECONNREFUSED 10.250.3.46:80

[2022-03-24 06:37] sukrosono commented on #1463
maybe it is one of chai dep, but it is because of net problem, perhaps you have an unstable internet connection.
please try again a few times, and see what happens.

[2022-03-24 11:22] keithamus commented on #1463
This is not a URL in our package-lock, nor our dependency tree from what I can see. Perhaps this is an internal npm registry you're using?

There's nothing actionable here for us to do. I'm going to close this one.

[2022-03-24 11:22] #1463 closed

[2022-03-30 19:25] rogadev commented on #524
![image](https://user-images.githubusercontent.com/61405141/160914805-fc672ea5-c6ae-4467-aede-4075ae0cb202.png)
[code]
Any idea why I'm getting this issue? Is it related to the initial issue posted here?

[2022-04-06 20:23] mbargiel commented on #1455
We ran into the same problem with `register-expect`. With `chai@4.2.0` it's working fine, with `chai@4.3.6` we have a similar error about Node being unable to resolve `.../chai/register-expect`.

We found a workaround: add `.js`, ie replace `require('chai/register-expect')` with `require('chai/register-expect.js')`.

The issue seems to be that an `exports` property added to the chai `package.json`

[2022-04-14 20:12] victor-anderson-actual commented on #958
Is `npm i chai@canary` still a viable option since it's 2022 now? I've been looking all over the web to solve this assertion problem, but have had no luck. I made a post about it on stackoverflow [here](https://stackoverflow.com/questions/71875508/please-help-assertionerror-expected-function-to-equal?noredirect=1#comment127011214_71875508).

[2022-04-15 22:17] felix9 opened #1464 "chai 4.3.5+ doesn't work on IE10 because WeakMap"
chai 4.3.5 uses loupe, which has an unconditional use of `new WeakMap()`, which doesn't exist on IE10.

I realize that IE10 support is probably not something anyone cares about today, so I don't expect this to get fixed :)

chai 4.3.4 still works on IE10, for anyone else who runs into this problem.

[2022-04-19 16:37] kran6a opened #1465 "assert.approximately does not work with bigints"
Basically what the title says.

`assert.approximately(1n, 2n, 1n, "Should not throw");` results in `AssertionError: Should not throw: expected 1n to be a number`

[2022-04-24 23:56] tnguyen14 opened #1466 "chai 4.3.5 does not build on skypack"
Starting with version `4.3.5`, chai does not work with skypack https://cdn.skypack.dev/error/build:chai@v4.3.5-cdXlwD9j8XSpMk0e1GrE

I think this has to do with the change in esm exports, though I don't know enough about esm to figure out why. I'm sorry that I'm not able to articulate more intelligently why this issue is important, I don't know if others are using skypack. I just wonder if this is

[2022-04-26 12:09] RebeccaStevens commented on #1466
#1450

[2022-04-26 12:13] RebeccaStevens commented on #1450
@keithamus I don't think it's possible to support both without using a build tool.
I could submit a PR to add rollup and get it to output for each of the different environments if you like.

[2022-05-04 17:28] iancamp commented on #1333
I also came across this issue along with the same strange `compatibleMessage` behavior. This behavior is documented in the code and in the `.throw()` documentation [here](https://www.chaijs.com/api/bdd/#method_throw), so I guess it's not really a bug, but it does seem counter-intuitive (and risky).

[2022-05-05 14:55] brx-craig commented on #958
Still not working in ^4.3.6
`expect(Logger).to.be.an.instanceOf(Logger);`
gives

[2022-05-29 06:36] djmattyg007 opened #1468 "assert.sameMembers should work for sets"
In the mathematical definition of a "set", the contents of a set are known as "members". It therefore stands that an assertion named "same members" should be able to handle sets. I believe this would be significantly more intuitive than using `hasAllKeys`, because a set does not actually have keys.

[2022-05-30 09:37] Ucandoit opened #1469 "Support for tc39/proposal-temporal"
Hello, I've recently encounted a problem with chai's deep equal assertion when an object contains a property of type Temporal.PlainDate. For example the following assertion does not result in error while it's not the same date.
[code]
The reason is that in `deep-eql` https://github.com/chaijs/deep-eql/blob/main/index.js#L197 the Temporal.PlainDate type is not managed since it's still in stage 3.
W

[2022-06-10 13:11] Adpaar commented on #1404
Hi @Nikuu971, got the same problem
Did you find the solution ? Thanks

[2022-06-13 10:44] spaiz opened #1470 "Mongoose v6 ObjectId deepEqual always true"
Hi. We did pay attention in our tests that we cannot rely anymore on deep.equal git push -u origin main when comparing objects with ObjectId() or even ObjectIds itself.

Env: node v16
Mongoose version: v5 vs v6

For the mongoose v5 it tests work as expected.

<img width="1512" alt="Screen Shot 2022-06-13 at 13 42 38" src="https://user-images.githubusercontent.com/5892159/173336909-a76bf427-f1d4-40

[2022-06-14 18:30] SebaBau opened #1471 "Test using revertedWith function passes correctly despite other message"
In my contract first modifier in function check if user is contract owner. The next require check another custom business logic. In my tests I simulate transaction using connect() funtion and pass other wallet (not owner). In this tests I check in revertedWith funtion revert message. Test passes correctly despite using a completely different error message.

[2022-06-21 07:18] spaiz commented on #1470
I assume this PR should fix it :/

https://github.com/chaijs/deep-eql/pull/86

[2022-06-23 23:23] KyleMit commented on #1455
I get this issue when running the following CLI command:

[code]

* `4.3.4` ✔ works fine
* `4.3.5` ❌ broken

Ideally, in my case, I'm including [chai expect by default on all TS files](https://stackoverflow.com/q/61623260/1366033), so I don't have an easy way to do the workaround identified above by re-writing my imports

[2022-06-27 14:21] rdx-rockstar commented on #332
Hi, @keithamus I am trying to implement it:
expect({ a: 1, b: 2, c: 3 }).to.deep.eql({ a: 1, b: 2, c: expect.to.be.a('number')  });
but it gives error: "be not defined"
I can't find it in the documentation so please help me out!

[2022-06-27 17:59] keithamus commented on #332
This is not a feature yet, but it is a sketch for a future API

[2022-07-06 06:03] hunterpp commented on #1065
Wondering what is happening with Chai 5?

[2022-07-11 13:46] h-unterp commented on #1065
Understood and thank you for sharing this with me. I don't have a lot of time, but I'm also not saying no, just working on a startup which is taking about 200% of my time ;-) One incentive to help attract maintainers is that github copilot comes free for maintainers of large projects.

[2022-07-11 14:58] Ucandoit opened #1473 "is it possible to bump deep-eql to ^4.0.0 in chai 4.x.x"
Hi, now that this PR is merged in deep-eql https://github.com/chaijs/deep-eql/pull/88, I'd like to make a new release of chai so that we can fix the bug of comparison in Temporal objects.
I figured out that in chai 4.x.x, the deep-eql version is set to ^3.0.1. Do you have any idea why it stays in v3 and whether I can bump its version to ^4.0.0?
It seems that all tests pass when I bump to 4.1.0 in

[2022-07-12 07:49] Ucandoit commented on #1473
OK I see. What's the status of v5? Is it releasable or there are stuffs to finish before releasing?

[2022-07-12 08:29] keithamus commented on #1473
We had plans to make some more sweeping changes in v5 but it might be too much in one go. So I think we should just cut a v5 which drops support for old engines and lets us do the bigger changes in v6

[2022-07-19 14:47] tripuzv opened #1474 "Don't stop test on AssertionError"
How to make sure that the test does not stop in case of AssertionError(expect method).
WDIO, Mocha, Chaijs as assetion library

[2022-07-27 11:26] sambunting opened #1475 "`includes` expects `undefined` When Test Fails"
When using `expect().to.include()` - if the expected value of the `include` doesn't match the actual value - in the console it would say it expected `undefined`.

[code]

An example console output is:
[code]

I think this is just a bug more to do with the console output itself, not the functionality of the test. It's not a game-changing bug, but I did spend a bit of time trying to figure out what'

[2022-08-15 05:47] JoshuaKGoldberg opened #1476 "Release npm package with https://www.chaijs.com/chai.js ?"
https://www.chaijs.com/chai.js works perfectly in-browser with RequireJS. But, it doesn't seem to be provided as part of the npm package. If including it in https://www.npmjs.com/package/chai would be too much extra filesize bloat for most users, could we instead have it in its own package on npm? Say, a name similar to `chai-browser` but not already taken?

A couple of common workarounds exist to

[2022-08-19 16:29] jacob-orbiit opened #1477 "Plugin: how to get calling test file's info"
I'm trying to create a snapshot plugin for chai (and would be happy to contribute it); snapshots live adjacent to the test file itself. The [docs](https://www.chaijs.com/api/plugins/#method_addchainablemethod) related to creating plugins are rather…sparse, and I don't see anything related to that, and the info related to getting the expected value seems to be incorrect (I just get `undefined`).

F

[2022-08-22 15:44] avin-kavish opened #1478 "Get full diff of mismatching strings"
Is it possible to get a full diff of strings that don't match?

[code]

Currently, it's truncated like this.

[2022-09-05 08:08] mknj opened #1479 "Why do object->deep.include and array.of.object->deep.include behave differently?"
# summary
I would expect that a deep.include of an array of objects compares the contained objects via deep.include and not via deep.equal.
aka. `expect([{x:1,y:2}]).deep.include([{x:1}])` behaves like `expect({x:1,y:2}).deep.include({x:1})`

# version
chai 4.3.6

# expected
[code]

# actual
[code]

# example code with workaround using lodash
[code]

[2022-09-05 09:50] mknj commented on #1479
# use case

I have an API with a request object, that is similar to the response object. The response object does contain some additional information including timestamps.
To verify that the original elements are in the response i would like to do a expect(response).to.deep.INCLUDE(request).
After that i want to do a expect(response).to.deep.INCLUDE([{some_important_fields}])
to check additional f

[2022-09-11 19:11] oprogramador commented on #948
For me, something like the following fails without a meaningful message:
[code]
The message is like: `AssertionError: expected [ { foo: 'bar-0' }, …(3) ] to deeply equal [ { foo: 'bar-0' }, …(3) ]`.

I use chai@4.3.6.

[2022-09-12 16:25] keithamus commented on #948
If you want to see more of the object inspected, you can set `chai.config.truncateThreshold` to something larger than the default of `75`. For example `chai.config.truncateThreshold = Infinity` will always show the full object. Be prepared to see some very large error messages, though.

[2022-09-12 16:27] oprogramador commented on #948
Thanks but I don't think that it'll give me anything because the objects seem to be exactly the same.

[2022-09-12 16:36] keithamus commented on #948
If your object has Symbol keys which are different then the comparison will fail. Currently [loupe](https://github.com/chaijs/loupe) (the inspection engine that renders the error message) does not render Symbol keys, IIRC.

[2022-10-03 11:33] Tb0 opened #1481 "Incorrect closeTo result"
Hello,
I've an issue with the method `closeTo`.

`expect(1682.6).to.be.closeTo(1682.7, 0.1)` returns an error ❌  while I was expecting the test to pass.

It seems to me that when you have a number with more than 3 digits this fails ❌ .

`expect(168.6).to.be.closeTo(168.7, 0.1)` is passing ✅ , while `expect(1682.6).to.be.closeTo(1682.7, 0.1)` doesn't ❌.

In the meantime, `expect(1682.6).to.be.close

[2022-10-24 10:22] wertlex commented on #1358
Well, the problem could be resolved by updating `deep-eql` version.
[`eql`](https://www.chaijs.com/api/bdd/#method_eql) underneath uses `deep-eql` which already supports Symbol comparing. However, it could be a breaking change

[2022-10-28 07:18] dev-ardi opened #1482 "Add "that" chain"
This will allow `expect.that(foo).equals(bar);`
`equals` is kind of clunky without `that`, the only way to do the example while being proper english is `expect.(foo).to.equal(bar)`, which renders `equals` kind of useless for most purposes.

[2022-11-07 02:34] snewcomer commented on #1358
This PR has been merged - https://github.com/chaijs/deep-eql/pull/83

Awaiting a bump on deep-eql!

[2022-11-07 16:25] #1358 closed

[2022-11-18 10:50] bugwelle opened #1489 "Update release log on https://www.chaijs.com/releases/"
Hi,

could you update the release log on https://www.chaijs.com/releases/, please? :-)
The latest version there is 4.3.4, but chaijs on GitHub and npm is at 4.3.7.

Version 4.3.7 contains a possibly breaking change (see https://github.com/chaijs/chai/pull/1483#issuecomment-1319833148 ). I had to look into the commit history to see the relevant change.

Thank you very much for your continued work o

[2022-11-18 12:19] keithamus commented on #1489
Thanks for pointing this out. I think it's been broken for a long time :grimacing: (since September by the logs).

We used to use Travis to build the pages nightly, but it looks as though that's no longer operational. I've switched the setup GitHub Actions now, to build the pages, which seems to be working. 4.3.7 is listed in the released page. Hopefully we won't run into the same issue again.

I'

[2022-11-18 12:19] #1489 closed